---
title: Colour
classes: website
order: 60
parent: index
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>

<h2>Primary colour pallete</h2>

<ul class="colours">
<li>
<span class="colours-title">Mid blue</span>
<span class="colours-hex">#0b55a8</span>
<span class="colours-swatch" style="background:#0b55a8;"></span>
</li>
<li>
<span class="colours-title">Light blue</span>
<span class="colours-hex">#a6d0ff</span>
<span class="colours-swatch" style="background:#a6d0ff;"></span>
</li>
<li>
<span class="colours-title">Gold</span>
<span class="colours-hex">#ffc23d</span>
<span class="colours-swatch" style="background:#ffc23d;"></span>
</li>
<li>
<span class="colours-title">Dark blue</span>
<span class="colours-hex">#002158</span>
<span class="colours-swatch" style="background:#002158;"></span>
</li>
<li>
<span class="colours-title">Dark grey</span>
<span class="colours-hex">#312b39</span>
<span class="colours-swatch" style="background:#312b39;"></span>
</li>
<li>
<span class="colours-title">White</span>
<span class="colours-hex">#ffffff</span>
<span class="colours-swatch" style="background:#ffffff; width:113px; height:113px; border:1px solid #ddd;"></span>
</li>
</ul>

<hr>

<h2>Secondary colour pallete</h2>

<ul class="colours">
<li>
<span class="colours-title">Purple</span>
<span class="colours-hex">#880088</span>
<span class="colours-swatch" style="background:#880088;"></span>
</li>
<li>
<span class="colours-title">Dark purple</span>
<span class="colours-hex">#470d43</span>
<span class="colours-swatch" style="background:#470d43;"></span>
</li>
<li>
<span class="colours-title">Mid grey blue</span>
<span class="colours-hex">#929fb0</span>
<span class="colours-swatch" style="background:#929fb0;"></span>
</li>
<li>
<span class="colours-title">Light grey blue</span>
<span class="colours-hex">#e7eff7</span>
<span class="colours-swatch" style="background:#e7eff7;"></span>
</li>
</ul>

<hr>

<h2>Emphasis colours</h2>

<ul class="colours">
<li>
<span class="colours-title">Green</span>
<span class="colours-hex">#539d3c</span>
<span class="colours-swatch" style="background:#539d3c;"></span>
</li>
<li>
<span class="colours-title">Red</span>
<span class="colours-hex">#b52a1e</span>
<span class="colours-swatch" style="background:#b52a1e;"></span>
</li>
</ul>

<hr>

<h2>New additions</h2>

<ul class="colours">
<li>
<span class="colours-title">Orange</span>
<span class="colours-hex">#cf6041</span>
<span class="colours-swatch" style="background:#cf6041;"></span>
</li>
</ul>


<hr>


<h2 id="colour-classes">Colour classes</h2>

<p>Change the CSS "color" property on an item to use an OU pallette colour:</p>

<ul>
  <li>.colour1 = green</li>
  <li>.colour2 = red </li>
  <li>.colour3 = gold</li>
  <li>.colour4 = dark purple </li>
  <li>.colour5 = mid blue </li>
  <li>.colour6 = light blue </li>
  <li>.colour7 = dark blue </li>
  <li>.colour8 = dark grey </li>
  <li>.colour9 = purple </li>
  <li>.colour10 = mid grey blue </li>
  <li>.colour11 = light grey blue </li>
  <li>.colour12 = orange </li>
</ul>
  
<p>Change the CSS &quot;background-color&quot; property of an item to use an OU pallette colour:</p>

<ul>
  <li>.bg-colour1 = green </li>
  <li>.bg-colour2 = red </li>
  <li>.bg-colour3 = gold </li>
  <li>.bg-colour4 = dark purple </li>
  <li>.bg-colour5 = mid blue </li>
  <li>.bg-colour6 = light blue </li>
  <li>.bg-colour7 = dark blue </li>
  <li>.bg-colour8 = dark grey </li>
  <li>.bg-colour9 = purple </li>
  <li>.bg-colour10 = mid grey blue </li>
  <li>.bg-colour11 = light grey blue </li>
  <li>.bg-colour12 = orange </li>
</ul>




<div class="ou-paged">
  <ul>
<li><a class="ou-previous" href="navigation-link-styles.html">Prev</a></li>
<li><a class="ou-next" href="content.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content -->
</div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->