---
title: Contact info
classes: website
parent: content
order: 110
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<div class="ou-section">

<h2>Address <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><address>
The Open University<br>
Walton Hall<br>
Milton Keynes<br>
Bucks
</address></code>
</pre>

<address>
The Open University<br>
Walton Hall<br>
Milton Keynes<br>
Bucks
</address>

</div>

<div class="ou-section">

<h2>Contact <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><div class="ou-contact">
<h2>Get in touch</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</div></code>
</pre>

<div class="ou-contact">
<h2>Get in touch</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</div>

</div>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="downloads.html">Prev</a></li>
<li><a class="ou-next" href="boxes.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->