---
title: Content
classes: website
order: 70
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<p>Content styles can be added to enrich the text, image, video, audio on OU ICE v4 web sites. HTML snippets can be copied and pasted into your HTML editor. The relevant CSS styles will then be applied by the browser.</p>

<p>Select styles from the menu on the right.</p>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="colour.html">Prev</a></li>
<li><a class="ou-next" href="headings.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->