---
title: Downloads
classes: website
---

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<div class="ou-section">
<h2>Box <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><div class="ou-download">
<h2>Download</h2>
<p>Here are some files available for download</p>
<ul>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
</ul>
</div></code>
</pre>

<div class="ou-download">
<h2>Download</h2>
<p>Here are some files available for download</p>
<ul>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
</ul>
</div>


</div>

<div class="ou-section">

<h2>Dowload links (a.foo) <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul></code>
</pre>

<ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul>         
            
</div>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="media.html">Prev</a></li>
<li><a class="ou-next" href="contact-info.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->
