---
title: Examples pages
classes: website
---

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>

<ol>
<li>StudentHome home page</li>
<li>Dashboard</li>
<li>Profile</li>
<li>Preferred settings</li>
<li>Edit online appearance</li>
<li>Study</li>
<li>Qualification record</li>
<li>Module record</li>
<li>Assessment strategy</li>
<li>Your student loan</li>
<li>Your tutorials</li>
<li>Tutorial details</li>
<li>Module</li>
<li>Structured content</li>
<li>Forum topic list</li>
<li>Forum post</li>
<li>Learning activity</li>
<li>Messages</li>
<li>OU Community</li>
<li>Help Centre home page</li>
<li>Help Centre topic page</li>
<li>Help Centre category page</li>
<li>Help Centre quick find</li>
<li>Help Centre contact us</li>
<li>Help Centre A-Z</li>
<li>Help Centre site map</li>
<li>Help Centre feedback</li>
<li>Help Centre bug report</li>
<li>Help Centre article</li>
<li>Set alias</li>
</ol>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="fonts.html">Prev</a></li>
<li><a class="ou-next" href="layout-plain-and-simple.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->
