---
title: Headings
classes: website
parent: content
order: 10
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<div class="ou-section">
<h1>Heading, level 1 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h1>

<pre class="code">
<code><h1>Heading, level 1</h1></code>
</pre>

<p>You'll normally find some standard text here.</p>
</div>
    
<div class="ou-section">
<h2>Heading, level 2 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><h2>Heading, level 2</h2></code>
</pre>
<p>You'll normally find some standard text here.</p>
    </div>
    
<div class="ou-section">
<h3>Heading, level 3 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h3>

<pre class="code">
<code><h3>Heading, level 3</h3></code>
</pre>
<p>You'll normally find some standard text here.</p>

</div>
    
<div class="ou-section">
<h4>Heading, level 4 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h4>

<pre class="code">
<code><h4>Heading, level 4</h4></code>
</pre>
<p>You'll normally find some standard text here.</p>
</div>
    

<div class="ou-section">
<h5>Heading, level 5 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h5>

<pre class="code">
<code><h5>Heading, level 5</h5></code>
</pre>
<p>You'll normally find some standard text here.</p>

</div>
    
<div class="ou-section">
<h6>Heading, level 6 <a href="#">with link</a> <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h6>

<pre class="code">
<code><h6>Heading, level 6</h6></code>
</pre>
<p>You'll normally find some standard text here.</p>
</div>



<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="content.html">Prev</a></li>
<li><a class="ou-next" href="paragraphs.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->