---
title: Headers and footers
classes: website
order: 3
parent: index
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>

<p>Every OU web page needfs to carry one of the standard headers and footers. There are three to choose from within this framework:</p>

<ul>
<li>Student header and footer - for use on student facing websites</li>
<li>Tutor header and footer - for use on TutorHome and associated pages</li>
<li>Public header and footer - for use on pages that do not require authentication and/or aimed at the general public</li>
</ul>

<p>Example code to follow..</p>

<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="index.html">Prev</a></li>
<li><a class="ou-next" href="fonts.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->
