---
title: Lists
classes: website
parent: content
order: 50
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>

<h2>ol <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ol>
  <li>Ipod classic
      <ol>
      <li>16GB</li>
      <li>32GB</li>
      <li>64GB</li>
      </ol>
  </li>
  <li>Ipod touch</li>
  <li>Ipod nano</li>
  <li>Ipod shuffle</li>
</ol></code>
</pre>

<ol>
  <li>Ipod classic
      <ol>
      <li>16GB</li>
      <li>32GB</li>
      <li>64GB</li>
      </ol>
  </li>
  <li>Ipod touch</li>
  <li>Ipod nano</li>
  <li>Ipod shuffle</li>
</ol>

<hr>

<h2>ul <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul>
  <li>Ipod classic
      <ul>
      <li>16GB</li>
      <li>32GB</li>
      <li>64GB</li>
      </ul>
  </li>
  <li>Ipod touch</li>
  <li>Ipod nano</li>
  <li>Ipod shuffle</li>
</ul></code>
</pre>

<ul>
  <li>Ipod classic
      <ul>
      <li>16GB</li>
      <li>32GB</li>
      <li>64GB</li>
      </ul>
  </li>
  <li>Ipod touch</li>
  <li>Ipod nano</li>
  <li>Ipod shuffle</li>
</ul>


<hr>


<h2>dl <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><dl>
  <dt>Blockquote</dt>
  <dd>A bunch of text, quoted from somehwere else</dd>
  <dt>Ordered list</dt>
  <dd>A list which makes more sense when read in order</dd>
  <dt>Unordered list</dt>
  <dd>A list that you can read in whatever random way you like</dd>
</dl></code>
</pre>

<dl>
  <dt>Blockquote</dt>
  <dd>A bunch of text, quoted from somehwere else</dd>
  <dt>Ordered list</dt>
  <dd>A list which makes more sense when read in order</dd>
  <dt>Unordered list</dt>
  <dd>A list that you can read in whatever random way you like</dd>
</dl>  


<hr>


<h2 id="ou-zebra-list">Zebra-list <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-zebra">
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
</ul></code>
</pre>

<ul class="ou-zebra">
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
<li class="ou-odd">Odd item</li>
<li class="ou-even">Even item</li>
</ul>


<hr>

<h2 id="ou-dialogue">Dialogue <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><div class="ou-dialogue">
<dl>
<dt>Stephen</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
<dl>
<dt>Michael</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
<dl>
<dt>Timothy von Gerts</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
</dl>
</div></code>
</pre>

<div class="ou-dialogue">
<dl>
<dt>Stephen</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
<dl>
<dt>Michael</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
<dl>
<dt>Timothy von Gerts</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
</dl>
</div>


<hr>

<h2 id="ou-glossary">Glossary <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><div class="ou-glossary">
<dl>
<dt>OUICE</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
<dt>Webstandards</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
</dl>
</div></code>
</pre>

<div class="ou-glossary">
<dl>
<dt>OUICE</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
<dt>Webstandards</dt>
<dd><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p></dd>
</dl>
</div>


<hr>

<h2 id="ou-comments">Comments <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><div class="ou-comment">
<dl>
<dt>Samuel says</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
</div> 
<div class="ou-comment">
<dl>
<dt>Stephen says</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa.  </p>
</dd>
</dl>
</div></code>
</pre>

<div class="ou-comment">
<dl>
<dt>Samuel says</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa. In aliquam commodo massa. Maecenas a risus. Morbi tempor. Aliquam erat volutpat. Pellentesque placerat, turpis sed vulputate auctor, sem tellus hendrerit massa, ut imperdiet nulla est lacinia orci. Mauris a ligula id ante volutpat eleifend. Pellentesque nec quam ut mauris sollicitudin euismod. Phasellus ac ligula. </p>
</dd>
</dl>
</div> 
<div class="ou-comment">
<dl>
<dt>Stephen says</dt>
<dd>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce sed velit vel odio cursus consequat. Nam at est. Vivamus lacinia felis eu neque. Morbi ac mi. Pellentesque interdum nisi. Aenean pretium porta lectus. Nunc nisl. Aenean interdum quam id massa.  </p>
</dd>
</dl>
</div>


<hr>

<h2>With borders <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-list-alt">
<li><a href="#">W102 module website &amp; record</a></li>
<li><a href="#">Online TMA/EMA service  </a></li>
<li><a href="#">Assessment  </a></li>
<li><a href="#">Tutor </a></li>
<li><a href="#">Tutorial dates  </a></li>
<li><a href="#">Examination details  </a></li>
<li><a href="#">Study materials despatch dates  </a></li>
<li><a href="#">Student Support Team</a></li>
</ul></code>
</pre>

<ul class="ou-list-alt">
<li><a href="#">W102 module website &amp; record</a></li>
<li><a href="#">Online TMA/EMA service  </a></li>
<li><a href="#">Assessment  </a></li>
<li><a href="#">Tutor </a></li>
<li><a href="#">Tutorial dates  </a></li>
<li><a href="#">Examination details  </a></li>
<li><a href="#">Study materials despatch dates  </a></li>
<li><a href="#">Student Support Team</a></li>
</ul>

<h3>Example use</h3>

<div class="ou-block-showhide">
<h2>W102 Law: Concepts and Perspectives</h2>
<ul class="ou-list-alt">
<li><a href="#">W102 module website &amp; record</a></li>
<li><a href="#">Online TMA/EMA service  </a></li>
<li><a href="#">Assessment  </a></li>
<li><a href="#">Tutor </a></li>
<li><a href="#">Tutorial dates  </a></li>
<li><a href="#">Examination details  </a></li>
<li><a href="#">Study materials despatch dates  </a></li>
<li><a href="#">Student Support Team</a></li>
</ul>
</div>

<hr>


<h2>Plain <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-list-alt2">
<li>Personal identifier: ST4792</li>
<li><a href="#">s.turvey@open.ac.uk</a></li>
<li><a href="#">View emails sent by us recently</a></li>
<li><a href="#">Update personal details</a></li>
<li><a href="#">Study record</a></li>
</ul></code>
</pre>

<ul class="ou-list-alt2">
<li>Personal identifier: ST4792</li>
<li><a href="#">s.turvey@open.ac.uk</a></li>
<li><a href="#">View emails sent by us recently</a></li>
<li><a href="#">Update personal details</a></li>
<li><a href="#">Study record</a></li>
</ul>

<h3>Example use</h3>

<div class="ou-block-showhide2">
<h2>Links</h2>
<ul class="ou-list-alt2">
<li><a href="#">Student Association Forums</a></li>
<li><a href="#">Learning with the OU</a></li>
<li><a href="#">Create an OU Google account</a></li>
<li><a href="#">OU Students Association</a></li>
<li><a href="#">Software downloads link</a></li>
</ul>
</div>


<hr>



<h2>Icon list <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><li><a href="#"><i class="fa fa-lightbulb-o bg-colour1"></i> Study Planning</a></li>
<li><a href="#"><i class="fa fa-briefcase bg-colour2"></i> Careers Advisory Service</a></li>
<li><a href="#"><i class="fa fa-book bg-colour3"></i> Library</a></li>
<li><a href="#"><i class="fa fa-hand-o-up bg-colour4"></i> OUSA</a></li>
<li><a href="#"><i class="fa fa-flask bg-colour5"></i> Experiments in progress</a></li>
<li><a href="#"><i class="fa fa-car bg-colour6"></i> How to drive</a></li>
<li><a href="#"><i class="fa fa-anchor bg-colour7"></i> Sailing the 7 seas</a></li>
<li><a href="#"><i class="fa fa-camera bg-colour8"></i> Photography</a></li>
<li><a href="#"><i class="fa fa-ban bg-colour9"></i> Do not enter</a></li>
<li><a href="#"><i class="fa fa-cloud bg-colour10"></i> Cloudworks</a></li>
</ul></code>
</pre>

<p>Use any Font Awesome icon and choose from 1 of 12 colours from the OU palette.</p>

<ul class="ou-icon-list">
<li><a href="#"><i class="fa fa-lightbulb-o bg-colour1"></i> Study Planning</a></li>
<li><a href="#"><i class="fa fa-briefcase bg-colour2"></i> Careers Advisory Service</a></li>
<li><a href="#"><i class="fa fa-book bg-colour3"></i> Library</a></li>
<li><a href="#"><i class="fa fa-hand-o-up bg-colour4"></i> OUSA</a></li>
<li><a href="#"><i class="fa fa-flask bg-colour5"></i> Experiments in progress</a></li>
<li><a href="#"><i class="fa fa-car bg-colour6"></i> How to drive</a></li>
<li><a href="#"><i class="fa fa-anchor bg-colour7"></i> Sailing the 7 seas</a></li>
<li><a href="#"><i class="fa fa-camera bg-colour8"></i> Photography</a></li>
<li><a href="#"><i class="fa fa-ban bg-colour9"></i> Do not enter</a></li>
<li><a href="#"><i class="fa fa-cloud bg-colour10"></i> Cloudworks</a></li>
<li><a href="#"><i class="fa fa-comment bg-colour11"></i> Make a comment</a></li>
<li><a href="#"><i class="fa fa-music bg-colour12"></i> Join a band</a></li>
</ul>

<hr>

<h2>News <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-news">
  <li>
    <p class="ou-date">
    <span class="ou-dateday">12th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-about.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
    <li>
    <p class="ou-date">
    <span class="ou-dateday">14th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-research.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
    <li>
    <p class="ou-date">
    <span class="ou-dateday">14th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-students.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
</ul></code>
</pre>

<ul class="ou-news">
  <li>
    <p class="ou-date">
    <span class="ou-dateday">12th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-about.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
    <li>
    <p class="ou-date">
    <span class="ou-dateday">14th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-research.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
    <li>
    <p class="ou-date">
    <span class="ou-dateday">14th</span>
    <span class="ou-datemonth">Jul</span>y
    <span class="ou-dateyear">2014</span>
    </p>
    <img alt="" class="" src="http://www.open.ac.uk/ouhome-assets/home-students.jpg">
    <h2><a href="#">New research   highlights South Asian doctors' contribution to old age care</a></h2>
    <p>Migrant doctors are a valuable part of the NHS workforce but their   experiences and contributions have largely gone unrecorded. New research   published...</p>
    <p>Migrant doctors are a valuable part of the NHS   workforce but their experiences and contributions have largely gone   unrecorded. New research published...</p>
  </li>
</ul>



<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="quotes.html">Prev</a></li>
<li><a class="ou-next" href="tables.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content -->

</div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->