---
title: Topics
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>


<p>This style could be used on homepages or top level sections to nicely present the content within. It uses the <a href="layout-grid.html">grid layout</a> rules so you can change the column numbers and widths if required, or add <a href="layout-grid.html#ipad">iPad and/or mobile responsiveness</a>.</p>

<h2>Image, title and description</h2>


<div class="ou-row ou-topics">
<div class="four-columns">
<a href="#">
<img src="img/careers-topic1.jpg" alt="">
<h2>OU study and your career</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns">
<a href="#">
<img src="img/careers-topic2.jpg" alt="">
<h2>Plan your career</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns last">
<a href="#">
<img src="img/careers-topic6.jpg" alt="">
<h2>Finding jobs</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

</div>

<div class="ou-row ou-topics">
<div class="four-columns">
<a href="#">
<img src="img/careers-topic4.jpg" alt="">
<h2>Applying for jobs</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns">
<a href="#">
<img src="img/careers-topic5.jpg" alt="">
<h2>Where to get advice</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns last">
<a href="#">
<img src="img/careers-topic3.jpg" alt="">
<h2>Services for employers</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

</div> <!-- end ou-row ou-topics -->

<hr>

<h2>Title and description</h2>

<div class="ou-row ou-topics">
<div class="four-columns">
<h2><a href="#">OU study and your career</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns">
<h2><a href="#">Plan your career</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns last">
<h2><a href="#">Finding jobs</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

</div>

<div class="ou-row ou-topics">
<div class="four-columns">
<h2><a href="#">Applying for jobs</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns">
<h2><a href="#">Where to get advice</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

<div class="four-columns last">

<h2><a href="#">Services for employers</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
</div>

</div> <!-- end ou-row ou-topics -->



<hr>


<h2>Image, title, description and links</h2>


<div class="ou-row ou-topics">
<div class="four-columns">
<a href="#">
<img src="img/careers-topic1.jpg" alt="">
<h2>OU study and your career</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

<div class="four-columns">
<a href="#">
<img src="img/careers-topic2.jpg" alt="">
<h2>Plan your career</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

<div class="four-columns last">
<a href="#">
<img src="img/careers-topic6.jpg" alt="">
<h2>Finding jobs</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

</div>

<div class="ou-row ou-topics">
<div class="four-columns">
<a href="#">
<img src="img/careers-topic4.jpg" alt="">
<h2>Applying for jobs</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

<div class="four-columns">
<a href="#">
<img src="img/careers-topic5.jpg" alt="">
<h2>Where to get advice</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

<div class="four-columns last">
<a href="#">
<img src="img/careers-topic3.jpg" alt="">
<h2>Services for employers</h2></a>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
</ul>
</div>

</div> <!-- end ou-row ou-topics -->



<hr>


<h2>Title, description and links</h2>

<div class="ou-row ou-topics">
<div class="four-columns">
<h2><a href="#">OU study and your career</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

<div class="four-columns">
<h2><a href="#">Plan your career</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

<div class="four-columns last">

<h2><a href="#">Finding jobs</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

</div>

<div class="ou-row ou-topics">
<div class="four-columns">
<h2><a href="#">Applying for jobs</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

<div class="four-columns">
<h2><a href="#">Where to get advice</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

<div class="four-columns last">
<h2><a href="#">Services for employers</a></h2>
<p>A sentence of text to describe this section in a bit more detail.</p>
<ul>
<li><a href="#">Test</a></li>
<li><a href="#">This is a link</a></li>
<li><a href="#">Another one for luck</a></li>
<li><a href="#">Hello</a></li>
</ul>
</div>

</div> <!-- end ou-row ou-topics -->




<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-tabs.html">Prev</a></li>
<li><a class="ou-next" href="colour.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content -->
</div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->