---
title: Social network icons
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<h2>Example <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-icon-links">

<li class="ou-icon-links-facebook"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> <a href="#">Facebook</a></li>

<li class="ou-icon-links-twitter"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> <a href="#">Twitter</a></li>

<li class="ou-icon-links-youtube"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
</span> <a href="#">YouTube</a></li>

<li class="ou-icon-links-linkedin"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span> <a href="#">LinkedIn</a></li>

<li class="ou-icon-links-googleplus"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
</span> <a href="#">Google +</a></li>

</ul></code>
</pre>

<p>Font Awesome is used to pull in the icons, using the <a href="http://fortawesome.github.io/Font-Awesome/examples/#stacked" class="ou-external">icon stack feature</a>.
These icons are best placed in the #ou-site-footer and look good with a &lt;hr&gt; placed above - see bottom of this page for example.</p>

<ul class="ou-icon-links">

<li class="ou-icon-links-facebook"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> <a href="#">Facebook</a></li>

<li class="ou-icon-links-twitter"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> <a href="#">Twitter</a></li>

<li class="ou-icon-links-youtube"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
</span> <a href="#">YouTube</a></li>

<li class="ou-icon-links-linkedin"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span> <a href="#">LinkedIn</a></li>

<li class="ou-icon-links-googleplus"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
</span> <a href="#">Google +</a></li>

</ul>

<div class="box ou-info">
<p>You can use this same style with any Font Awesome icon you like, see <a href="navigation-link-styles.html#icon-links">horizontal icon links</a> for more.</p>
</div>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-sitemap.html">Prev</a></li>
<li><a class="ou-next" href="navigation-table-of-contents.html">Next</a></li>
</ul>
</div>


</div> <!-- end ou-content -->
</div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">

<hr>

<ul class="ou-icon-links">

<li class="ou-icon-links-facebook"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> <a href="#">Facebook</a></li>

<li class="ou-icon-links-twitter"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> <a href="#">Twitter</a></li>

<li class="ou-icon-links-youtube"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
</span> <a href="#">YouTube</a></li>

<li class="ou-icon-links-linkedin"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span> <a href="#">LinkedIn</a></li>

<li class="ou-icon-links-googleplus"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
</span> <a href="#">Google +</a></li>

</ul>

<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->