---
title: Context nav
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<p>The sidebar nav. This can be "ou-context-nav" or "ou-full-nav".</p>
          <h2>Context nav or full nav?</h2>
          <p>The difference between the two is that the full nav is a fully expanding and collapsing tree relative to the home page of the site. The context-nav recognises that large sites could end up with a huge side bar nav and enables site designers more flexibility.</p>
          
          <div class="box ou-tip">
          <p><strong>Note:</strong> the title for the context nav must be an <strong>H2 element</strong></p>
          </div>
          
          <p>li.ou-expanded signifies the parent of the currently active page.</p>
          <p>Another way of thinking about the difference between the two navs:</p>
          <p>Consider this site map:</p>
          <ul>
            <li>Supermarket Home
              <ul>
                <li>Groceries
                  <ul>
                    <li>Fruit
                      <ul>
                        <li>Apples</li>
                        <li>Oranges</li>
                        <li>Bananas</li>
                      </ul>
                    </li>
                    <li>Vegetables
                      <ul>
                        <li>Potatoes</li>
                        <li>Leeks</li>
                        <li>Onions</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>Electrical
                  <ul>
                    <li>Televisions</li>
                    <li>Radios</li>
                    <li>Irons</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <p>The "full nav" would represent the entire site structure in the expanding and contracting sidebar nav.</p>
          <p>The "context nav" would represent the "department" you were in and that only.</p>
          <p>So let's imagine we're on the "Radios" page..</p>
          <p>Full nav version..</p>
          <ul>
            <li>Supermarket Home
              <ul>
                  <li>Groceries</li>
                <li>Electrical
                  <ul>
                        <li>Televisions</li>
                    <li><strong>Radios</strong></li>
                    <li>Irons</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <p>Context nav version..</p>
          <p>Electrical </p>
          <ul>
            <li>Televisions</li>
            <li><strong>Radios</strong></li>
            <li>Irons          </li>
          </ul>



<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-breadcrumbs.html">Prev</a></li>
<li><a class="ou-next" href="navigation-link-styles.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content -->
</div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->