---
title: Link styles
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<h2>Download links <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul></code>
</pre>

<ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul>

<hr>

<h2>Other links <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-links">
<li><a class="ou-link" href="#">Link link</a></li>
<li><a class="ou-external" href="#">External link</a></li>
<li><a class="ou-info" href="#">Info link</a></li>
<li><a class="ou-forum" href="#">Forum link</a></li>
<li><a class="ou-print" href="#">Print link</a></li>
<li><a class="ou-warning" href="#">Warning link</a></li>
<li><a class="ou-help" href="#">Help link</a></li>
<li><a class="ou-rss" href="#">RSS link</a></li>
</ul></code>
</pre>

<ul class="ou-links">
<li><a class="ou-link" href="#">Link link</a></li>
<li><a class="ou-external" href="#">External link</a></li>
<li><a class="ou-info" href="#">Info link</a></li>
<li><a class="ou-forum" href="#">Forum link</a></li>
<li><a class="ou-print" href="#">Print link</a></li>
<li><a class="ou-warning" href="#">Warning link</a></li>
<li><a class="ou-help" href="#">Help link</a></li>
<li><a class="ou-rss" href="#">RSS link</a></li>
</ul>

<hr>

<h2>Standalone link <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
<pre class="code">
<code><p><a class="ou-standalone-link" href="#"><i class="fa fa-caret-right"></i> View all messages</a></p></code>
</pre>

<p><a class="ou-standalone-link" href="#"><i class="fa fa-caret-right"></i> View all messages</a></p>

<hr>


<h2>Horizontal icon links <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-icon-links">

<li class="ou-icon-links-facebook"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> <a href="#">Facebook</a></li>

<li class="ou-icon-links-twitter"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> <a href="#">Twitter</a></li>

<li class="ou-icon-links-linkedin"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span> <a href="#">LinkedIn</a></li>

</ul></code>
</pre>

<p>Font Awesome is used to pull in the icons, using the <a href="http://fortawesome.github.io/Font-Awesome/examples/#stacked">icon stack feature</a>. You can use any icon from <a href="http://fortawesome.github.io/Font-Awesome/icons/">this page</a>.</p>

<h3>Social network icons</h3>

<ul class="ou-icon-links">

<li class="ou-icon-links-facebook"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span> <a href="#">Facebook</a></li>

<li class="ou-icon-links-twitter"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span> <a href="#">Twitter</a></li>

<li class="ou-icon-links-linkedin"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span> <a href="#">LinkedIn</a></li>

</ul>

<p>Add the following classes to the list item (&lt;li&gt;) in order to get the correct social media icon colour:</p>

<ul class="ou-icon-links">
<li>Facebook = ou-icon-links-facebook</li>
  <li>Twitter = ou-icon-links-twitter</li>
  <li>LinkedIn = ou-icon-links-linkedin</li>
</ul>

<h3>Other icons</h3>

<p>For different icons, find the icon name on <a href="http://fortawesome.github.io/Font-Awesome/icons/">this page</a> and put it in the list item as shown below in bold:</p>

<p>&lt;ul class=&quot;ou-icon-links&quot;&gt;<br>
&lt;li&gt;&lt;span class=&quot;fa-stack&quot;&gt;<br>
&lt;i class=&quot;fa fa-circle fa-stack-2x&quot;&gt;&lt;/i&gt;<br>
&lt;i class=&quot;fa fa-<strong>rocket</strong> fa-stack-1x fa-inverse&quot;&gt;&lt;/i&gt;<br>
&lt;/span&gt; &lt;a href=&quot;#&quot;&gt;This is a rocket ship&lt;/a&gt;&lt;/li&gt;<br>
&lt;/ul&gt;
</p>

<ul class="ou-icon-links">
<li><span class="fa-stack">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
</span> <a href="#">This is a rocket ship</a></li>
</ul>

<h3>Colour it</h3>

<p>Make the background circle of your icons a different colour by specifying a <a href="colour.html#colour-classes">colour class</a> from the OU pallette:</p>
<p>&lt;ul class=&quot;ou-icon-links&quot;&gt;<br>
  &lt;li&gt;&lt;span class=&quot;fa-stack&quot;&gt;<br>
  &lt;i class=&quot;fa fa-circle fa-stack-2x <strong>colour1</strong>&quot;&gt;&lt;/i&gt;<br>
  &lt;i class=&quot;fa fa-rocket fa-stack-1x fa-inverse&quot;&gt;&lt;/i&gt;<br>
  &lt;/span&gt; &lt;a href=&quot;#&quot;&gt;This is a green rocket ship&lt;/a&gt;&lt;/li&gt;<br>
  &lt;/ul&gt;</p>

<ul class="ou-icon-links">
<li><span class="fa-stack">
<i class="fa fa-circle fa-stack-2x colour1"></i>
<i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
</span> <a href="#">This is a green rocket ship</a></li>
</ul>

<p>To use a colour not in the OU pallette you can insert an inline style like so:</p>
<p>&lt;ul class=&quot;ou-icon-links&quot;&gt;<br>
  &lt;li&gt;&lt;span class=&quot;fa-stack&quot;&gt;<br>
  &lt;i class=&quot;fa fa-circle fa-stack-2x&quot; <strong>style=&quot;color:#F00&quot;</strong>&gt;&lt;/i&gt;<br>
  &lt;i class=&quot;fa fa-rocket fa-stack-1x fa-inverse&quot;&gt;&lt;/i&gt;<br>
  &lt;/span&gt; &lt;a href=&quot;#&quot;&gt;This is a bright red rocket ship&lt;/a&gt;&lt;/li&gt;<br>
  &lt;/ul&gt;</p>

<ul class="ou-icon-links">
<li><span class="fa-stack">
<i class="fa fa-circle fa-stack-2x" style="color:#F00"></i>
<i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
</span> <a href="#">This is a bright red rocket ship</a></li>
</ul>



<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-sitemap.html">Prev</a></li>
<li><a class="ou-next" href="colour.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->