---
title: Link styles
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<h2>Download links <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul></code>
</pre>

<div class="ou-section">
<ul class="ou-links">
<li><a class="ou-download" href="#">Download link</a></li>
<li><a class="ou-pdf" href="#">A .pdf link</a></li>
<li><a class="ou-doc" href="#">A .doc link</a></li>
<li><a class="ou-xls" href="#">A .xls link</a></li>
<li><a class="ou-ppt" href="#">A .ppt link</a></li>
<li><a class="ou-archive" href="#">An archive link</a></li>
<li><a class="ou-audio" href="#">An audio link</a></li>
<li><a class="ou-video" href="#">A video link</a></li>
</ul>
</div>

<h2>Other links <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-links">
<li><a class="ou-link" href="#">Link link</a></li>
<li><a class="ou-external" href="#">External link</a></li>
<li><a class="ou-info" href="#">Info link</a></li>
<li><a class="ou-forum" href="#">Forum link</a></li>
<li><a class="ou-print" href="#">Print link</a></li>
<li><a class="ou-warning" href="#">Warning link</a></li>
<li><a class="ou-help" href="#">Help link</a></li>
<li><a class="ou-rss" href="#">RSS link</a></li>
</ul></code>
</pre>

<div class="ou-section">
<ul class="ou-links">
<li><a class="ou-link" href="#">Link link</a></li>
<li><a class="ou-external" href="#">External link</a></li>
<li><a class="ou-info" href="#">Info link</a></li>
<li><a class="ou-forum" href="#">Forum link</a></li>
<li><a class="ou-print" href="#">Print link</a></li>
<li><a class="ou-warning" href="#">Warning link</a></li>
<li><a class="ou-help" href="#">Help link</a></li>
<li><a class="ou-rss" href="#">RSS link</a></li>
</ul>
</div>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-sitemap.html">Prev</a></li>
<li><a class="ou-next" href="colour.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->