---
title: Site map
classes: website
parent: navigation
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>
<h2>Example <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>

<pre class="code">
<code><ul class="ou-sitemap">
<li><a href="{link}" title="{description}">{title}</a>
<ul>
<li><a href="{link}" title="{description}">{title}</a></li>
</ul>
</li>
<li><a href="{link}" title="{description}">{title}</a></li>
</ul></code>
</pre>

<div class="ou-section">

<ul class="ou-sitemap">
<li><a class="ou-home" href="index.html">Home</a>
<ul>
<li><a href="whats-new.html">What's new?</a></li>
<li><a href="fonts.html">Fonts</a></li>
<li><a href="layout.html">Layout</a>
<ul>
<li><a href="layout-plain-and-simple.html">Plain and simple</a></li>
<li><a href="layout-site-ident.html">With site ident</a></li>
<li><a href="layout-creative.html">With creative</a></li>
<li><a href="layout-carousel.html">With carousel</a></li>
<li><a class="ou-sections" href="layout-sections.html">Sections</a></li>
<li><a class="ou-sections" href="layout-site-ident-and-sections.html">Site ident and sections</a></li>
<li><a class="ou-sections" href="layout-creative-and-sections.html">Creative and sections</a></li>
<li><a class="ou-sections" href="layout-carousel-and-sections.html">Carousel and sections</a></li>
<li><a class="ou-pure" href="layout-single-column.html">Single column</a></li>
<li><a href="layout-two-sub-columns.html">Two sub columns</a></li>
<li><a href="layout-three-sub-columns.html">Three sub columns</a></li>
<li><a href="layout-alignment.html">Alignment</a></li>
</ul>
</li>
<li><a href="navigation.html">Navigation</a>
<ul>
<li><a href="navigation-breadcrumbs.html">Breadcrumbs</a></li>
<li><a href="navigation-table-of-contents.html">Table of contents</a></li>
<li><a href="navigation-back-to-top.html">Back to top</a></li>
<li><a href="navigation-pagination.html">Pagination</a></li>
<li><a href="navigation-tabs.html">Tabs</a></li>
<li><a href="navigation-context-nav.html">Context nav</a></li>
<li><a href="navigation-sitemap.html">Site map</a></li>
<li><a href="navigation-link-styles.html">Link styles</a></li>
</ul>
</li>
<li><a href="colour.html">Colour</a></li>
<li><a href="content.html">Content</a>
<ul>
<li><a href="headings.html">Headings</a></li>
<li><a href="paragraphs.html">Paragraphs</a></li>
<li><a href="inline.html">Inline elements</a></li>
<li><a href="quotes.html">Quotes</a></li>
<li><a href="lists.html">Lists</a></li>
<li><a href="tables.html">Tables</a></li>
<li><a href="forms.html">Forms</a></li>
<li><a href="images.html">Images</a></li>
<li><a href="media.html">Media</a></li>
<li><a href="downloads.html">Downloads</a></li>
<li><a href="contact-info.html">Contact info</a></li>
<li><a href="boxes.html">Boxes</a></li>
<li><a href="misc.html">Misc</a></li>
<li><a href="drupal.html">Drupal specifics</a></li>
</ul>
</li>
<li><a href="graphics.html">Graphics</a>
<ul>
<li><a href="icons.html">Icons</a></li>
</ul>
</li>
</ul>
</li>
</ul>

</div>


<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="navigation-context-nav.html">Prev</a></li>
<li><a class="ou-next" href="navigation-link-styles.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->