---
title: Paragraphs
classes: website
parent: content
order: 20
---
<div id="ou-site">

<div id="ou-site-header">
</div> <!-- end ou-site-header -->

<div id="ou-site-body">

<div id="ou-page">

<div id="ou-region0">

</div> <!-- end ou-region0 -->

<div id="ou-region1">
{% include breadcrumb.html %}


<div id="ou-content" class="ou-content">

<h1>{{ page.title }}</h1>

  <h2>Introduction <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
  
  <pre class="code">
<code><p class="ou-introduction">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse luctus nunc et urna interdum egestas. In nulla. Integer porttitor neque non ante. Donec erat metus, pretium et, consequat in, faucibus quis, leo. Cras in massa non odio fermentum suscipit. Nunc convallis, sem at faucibus accumsan, nisl sem condimentum elit, at imperdiet mi elit non odio. Morbi vulputate enim mollis libero. Proin fermentum cursus turpis. Praesent feugiat est. Sed eu enim. </p></code>
</pre>

  <p class="ou-introduction">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse luctus nunc et urna interdum egestas. In nulla. Integer porttitor neque non ante. Donec erat metus, pretium et, consequat in, faucibus quis, leo. Cras in massa non odio fermentum suscipit. Nunc convallis, sem at faucibus accumsan, nisl sem condimentum elit, at imperdiet mi elit non odio. Morbi vulputate enim mollis libero. Proin fermentum cursus turpis. Praesent feugiat est. Sed eu enim. </p>

<hr>

  <h2>del <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
  
  <pre class="code">
<code><del>They went in single file, running like hounds on a strong scent, and an eager light was in their eyes. Nearly due west the broad swath of the marching Orcs tramped its ugly slot; the sweet grass of Rohan had been bruised and blackened as they passed.</del></code>
</pre>

<del>They went in single file, running like hounds on a strong scent, and an eager light was in their eyes. Nearly due west the broad swath of the marching Orcs tramped its ugly slot; the sweet grass of Rohan had been bruised and blackened as they passed.</del>

<hr>

  <h2>ins <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
 <pre class="code">
<code><ins>They went in single file, running like hounds on a strong scent, and an eager light was in their eyes. Nearly due west the broad swath of the marching Orcs tramped its ugly slot; the sweet grass of Rohan had been bruised and blackened as they passed.</ins></code>
</pre>

<ins>They went in single file, running like hounds on a strong scent, and an eager light was in their eyes. Nearly due west the broad swath of the marching Orcs tramped its ugly slot; the sweet grass of Rohan had been bruised and blackened as they passed.</ins>

<hr>

  <h2>p (paragraph) <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
 <pre class="code">
<code><p>Introduction: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse luctus nunc et urna interdum egestas. In nulla. Integer porttitor neque non ante. Inline link! Donec erat metus, pretium et, consequat in, faucibus quis, leo. Cras in massa non odio fermentum suscipit. Nunc convallis, sem at faucibus accumsan, nisl sem condimentum elit, at imperdiet mi elit non odio. Morbi vulputate enim mollis libero. Proin fermentum cursus turpis. Praesent feugiat est. Sed eu enim. </p></code>
</pre>

<p>Introduction: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse luctus nunc et urna interdum egestas. In nulla. Integer porttitor neque non ante. Inline link! Donec erat metus, pretium et, consequat in, faucibus quis, leo. Cras in massa non odio fermentum suscipit. Nunc convallis, sem at faucibus accumsan, nisl sem condimentum elit, at imperdiet mi elit non odio. Morbi vulputate enim mollis libero. Proin fermentum cursus turpis. Praesent feugiat est. Sed eu enim. </p>


<hr>

  <h2>pre (preformatted text) <span class="code-toggle"><a href="#"><i class="fa fa-code"></i></a></span></h2>
 <pre class="code">
<code><pre>P r  e   f    o     r      m!</pre></code>
</pre>

<pre>P r  e   f    o     r      m!</pre>



<div class="ou-paged">
<ul>
<li><a class="ou-previous" href="headings.html">Prev</a></li>
<li><a class="ou-next" href="inline.html">Next</a></li>
</ul> 
</div>


</div> <!-- end ou-content --></div> <!-- end ou-region1 -->

<div id="ou-region2">
{% include region2.html %}
</div> <!-- end ou-region2 -->

</div> <!-- end ou-page -->

</div> <!-- end ou-site-body -->

<div id="ou-site-footer">
<a class="ou-to-top" href="#ou-content"><i class="fa fa-arrow-circle-up"></i> Back to top</a>
</div> <!-- end ou-site-footer -->