
<div id="ou-service-links" role="navigation">

<ul>

<li><a href="#">Sign out</a> <span>|</span></li>
<li><a href="https://msds.open.ac.uk/students/">StudentHome</a> <span>|</span></li>
<li><a href="http://www.open.ac.uk/about/main/management/policies-and-statements/website-accessibility-open-university">Accessibility</a> <span>|</span></li>

<li><a href="http://www.open.ac.uk/contact">Contact the OU</a></li>

<li class="ou-search">
<fieldset>
<legend class="ou-hide">Site search</legend>
<label for="site-search" class="ou-hide">Search the OU</label>
<input type="search" id="site-search" placeholder="Search...">
<button><span class="ou-hide">Submit</span></button>
</fieldset>
</li>

</ul>
                    
</div> <!-- end ou-service-links -->

<a class="ou-logo" href="http://www.open.ac.uk/">
<img src="gui/ou-logo.png" alt="The Open University">
</a>

<!-- if signed in
<div id="ou-identity">
<p class="ou-identity-oucu">U2415974</p>
<p class="ou-identity-name">Louise Olney</p>
</div>
-->

<a href="#" class="ou-mobile-menu-toggle icon-down">Toggle service links</a>
