<hr>

<div class="box-yhc-inner">
<ul>
<li class="yhc-recommended"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
</span> <a href="example-pages-help-home.html#your-help-centre">Recommended pages</a></li>

<li class="yhc-popular"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-star fa-stack-1x fa-inverse"></i>
</span> <a href="example-pages-help-home.html#your-help-centre">Popular pages</a></li>

<li class="yhc-saved"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
</span> <a href="example-pages-help-home.html#your-help-centre">Saved pages</a></li>

<li class="yhc-contact"><span class="fa-stack">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
</span> <a href="example-pages-help-home.html#your-help-centre">Contact us</a></li>
</ul>
</div>

<hr>

<ul class="footer">
<li><i class="fa fa-folder-open"></i> <a href="#">About the Help Centre</a></li>
<li><i class="fa fa-sitemap"></i> <a href="example-pages-help-sitemap.html">Sitemap</a></li>
<li><i class="fa fa-list-ul"></i> <a href="example-pages-help-atoz.html">A-Z</a></li>
<li><i class="fa fa-search"></i> <a href="#">Quick Find</a></li>
<li><i class="fa fa-envelope"></i> <a href="example-pages-help-feedback.html">Feedback</a></li>
<li><i class="fa fa-bug"></i> <a href="#">Report a bug</a></li>
<li><i class="fa fa-phone"></i> <a href="example-pages-help-home.html#your-help-centre" data-track-event="myContactsLinkFooter">Contact us</a></li>
</ul>

<p><small>This website is developed and maintained by Online Student Support Services. This page was last updated on 9th Jan 2015 at 19:03:04.</small></p>
