@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	boxes.css

--------------------------------------------------------------------------------------
*/



/* Shared attributes */

div.box {
	padding:15px 15px 15px 20px;
	background-color:#eee;
	margin:0 0 15px 0;
	border-left-width:4px;
	border-left-style:solid;
}

div.box p:last-child {
	margin-bottom:0;
}

div.box h2,
div.box h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.5em;
	font-weight:bold;
	margin-top:0;
}


/* Modifiers */

div.ou-action {border-color:#539d3c}
div.ou-activity {border-color:#ffc23d;}
div.ou-contact {border-color:#880088;}
div.ou-download {border-color:#539d3c;}
div.ou-example {border-color:#312B39;}
div.ou-info {border-color:#0b55a8;}
div.ou-keypoints {border-color: #312B39;}
div.ou-notes {border-color: #ffc23d;}
div.ou-success {border-color:#539d3c;}
div.ou-summary {border-color:#880088;}
div.ou-tip {border-color:#ffc23d;}
div.ou-warning {border-color:#b52a1e;}
div.ou-references {border-color:#0b55a8;}
div.ou-steps {border-color:#880088;}



/* Box and Feature Block */

div.ou-box,
div.ou-feature-block {
	border-left:1px solid #ccc;
	background-color:#eee;
}

#ou-content div.ou-box ol,
#ou-content div.ou-box ul,
#ou-content div.ou-feature-block ol,
#ou-content div.ou-feature-block ul {margin:10px 0 10px 0;}


/* Contact */


#ou-content div.ou-contact ol,
#ou-content div.ou-contact ul {
	margin:10px 0 10px 0;
}

/* Download */


#ou-content div.ou-download ul,
#ou-content div.ou-download ul li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content div.ou-download ul li {
	margin:0 0 5px 0;
}

#ou-content div.ou-download ul li a {
	text-decoration:none;
}

#ou-content div.ou-download ul li:before {
	content:"";
}


/* Key points */


#ou-content div.ou-keypoints ol,
#ou-content div.ou-keypoints ul {
	margin:10px 0 10px 0;
}



/* References */


#ou-content div.ou-references ol,
#ou-content div.ou-references ul {
	margin:10px 0 10px 0;
}


/* Steps */


#ou-content div.ou-steps ol {
	margin:10px 0 10px 0;
}








/* Action block */

div.ou-action-block {
	margin-bottom:15px;	
}

#ou-content div.ou-action-block ul,
#ou-content div.ou-action-block ul li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;
}

#ou-content div.ou-action-block ul li:before {
	content:"";
}

#ou-content div.ou-action-block ul li a {
	display:block;
	padding:15px 20px;
	background-color:#eee;
	font-size:1.6em;
	text-decoration:none;
	border-bottom:1px solid #fff;
	position:relative;
}

#ou-content div.ou-action-block ul li a:after {
	font-family: 'FontAwesome';
	position: absolute;
	content: " \f0a9";
	color: #539d3c;
	right: 20px;
	top: 16px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#ou-content div.ou-action-block ul li a:hover {
	background-color:#539d3c;
	color:#fff;
}

#ou-content div.ou-action-block ul li a:hover:after {
	color: #fff;
	font-size:1.5em;
	top:13px;
	right:15px;
}

/* Action link */

#ou-content a.ou-action,
#ou-content a.ou-action span {
	display:block;
	text-decoration:none;
}

#ou-content a.ou-action {
	position:relative;
	overflow:visible;
	padding:8px 0 10px 0;
	font-size:1.1em;
}

#ou-content a.ou-action:nth-child(even) {
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#ou-content a.ou-action span.ou-desc {
	color:#777;
	font-weight:normal;
}

#ou-content a.ou-action:after {
	font-family: 'FontAwesome';
	position: absolute;
	content: " \f0a9";
	color: #880088;
	right: 0;
	top: 20px;
}

#ou-content a.ou-action:hover:after {
	color: #000;
	font-size:1.5em;
	top:15px;
	right:-4px;
	overflow:visible;
}

/* News */

#ou-content ul.ou-news {
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
}

#ou-content ul.ou-news h2,
#ou-content ul.ou-news h3 {
	margin-top:0;
}

#ou-content ul.ou-news li {
	margin: 0;
	padding: 0 0 0 0;
	list-style-type: none;
	border-bottom: 1px solid #e7eff7;
}

#ou-content ul.ou-news li:before {
	content:"";
}

#ou-content p.ou-date {
	color: #0b55a8;
	margin:15px 0 8px 0;
}

#ou-content ul.ou-news img {
	float: right;
	margin: 0 0 1em 1em;
	width:200px;
}

#ou-content ul.ou-news h2 a,
#ou-content ul.ou-news h3 a {
	text-decoration:none;
}
