@charset "UTF-8";


/*
--------------------------------------------------------------------------------------
	
	forms.css

--------------------------------------------------------------------------------------
*/



#ou-content form {
	background-color:#0b55a8;
	color:#fff;
	padding:20px 40px;
}

#ou-content form fieldset legend {
	color: #a6d0ff;
	font-size: 1.25em;
	display:block;
	margin:0 0 15px 0;
}

#ou-content form label {
	display: block;
	padding-bottom: 20px;
	padding: 0 0 5px 0;
	font-size:1.1em;
}

#ou-content form ul,
#ou-content form ul li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content form ul {
	margin-bottom:15px;
}

#ou-content form ul li:before {
	content:"";
}

#ou-content form p:last-child {margin-bottom:0;}

#ou-content form input[type="text"], 
#ou-content form input[type="password"], 
#ou-content form input[type="search"], 
#ou-content form input[type="url"], 
#ou-content form input[type="email"], 
#ou-content form input[type="number"], 
#ou-content form textarea {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	max-width: 100%;
	font-size: 1em;
	background: #ffffff;
	padding: 8px 15px;
	border: 4px solid transparent;
	margin-bottom: 10px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#ou-content form input[type="text"]:focus, 
#ou-content form input[type="password"]:focus, 
#ou-content form input[type="search"]:focus, 
#ou-content form input[type="url"]:focus, 
#ou-content form input[type="email"]:focus, 
#ou-content form input[type="number"]:focus, 
#ou-content form textarea:focus {
	outline: 0;
	border-color: #ffc23d;
}

#ou-content form input[type=checkbox],
#ou-content form input[type=radio] {
	font-size:150%;
}

#ou-content form button, 
#ou-content form input[type=button], 
#ou-content form input[type=submit] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: normal;
	text-decoration: none;
	padding: 10px 14px 8px 14px;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid #ffc23d;
	-webkit-appearance: button;
	cursor: pointer;
	line-height:normal;
}

#ou-content form button:hover, 
#ou-content form input[type=button]:hover, 
#ou-content form input[type=submit]:hover,
#ou-content form button:focus, 
#ou-content form input[type=button]:focus, 
#ou-content form input[type=submit]:focus {
	background: #880088;
	color: #ffc23d;
	text-decoration: none;
}

#ou-content form select {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	max-width: 100%;
	font-size: 1em;
	background: #ffffff;
	padding: 8px 15px;
	border: 4px solid transparent;
	margin-bottom: 15px;
	position: relative;
	border-color: #ffffff;
	overflow: hidden;
}

#ou-content form select:focus {
	outline: 0;
	border-color: #ffc23d;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
	
#ou-content form select {
	background: #ffffff url(form-sprites-new.png) no-repeat right -10px;
	padding-right: 60px;
}
#ou-content form select:focus {background-position: right -85px;}
#ou-content form select:disabled {background-position: right -361px;}

} /* end media query */
