@charset "UTF-8";



/*
-------------------------------------------
	Forums
-------------------------------------------
*/

.ou-forum-post {
	margin:0 0 20px 40px;
	border-bottom:1px solid #eee;	
	zoom:1;
}

.ou-forum-post:before,
.ou-forum-post:after {
	content: "";
	display: table;
}

.ou-forum-post:after {clear:both;}



.ou-forum-post-first {margin-left:0;}

#ou-content .ou-forum-post-links ul,
#ou-content .ou-forum-post-links ul li {
	list-style:none;
	margin:0;
	padding:0;	
}

#ou-content .ou-forum-post-links ul {margin-bottom:20px;}

#ou-content .ou-forum-post-links ul li:before {content:none;}

#ou-content .ou-forum-post-links ul li {
	display:inline;
	margin-right:10px;
}

#ou-content .ou-forum-post-links ul li a {
	text-decoration:none;
}

.ou-forum-post-links i.fa-reply {color:#539d3c;}
.ou-forum-post-links i.fa-link {color:#666;}
.ou-forum-post-links i.fa-flag {color:#b52a1e;}

.ou-forum-post-name {
	float:left;
	width:150px;
	color:#777;
	font-size:.9em;	
}

.ou-forum-post-name a {font-size:1.1em; text-decoration:none;}

.ou-forum-post-content {
	padding-left:170px;
}

