@charset "UTF-8";

/* 

	Help Centre Stuff 

*/



/*
-------------------------------------------
	Help Home
-------------------------------------------
*/

.hidden-except-screenreader {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


body.ou-help-home div#ou-region1 {width:100%;}


body.ou-help-home .hero-top {
	position: relative;
	width: 100%;
	height: 330px;
	background: #CCC url(../img/hero-help.jpg);
	margin-bottom:25px;
}

body.ou-help-home #ou-content .hero-top form {
	background-color:transparent;
	padding:0;	
	margin:0 auto;
	position:relative;
	width:400px;
	margin-top:28px;
}

body.ou-help-home .hero-top .search {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background: rgba(0,0,0,0.6);
	text-align: center;
}

body.ou-help-home #ou-content .hero-top .search input[type="text"] {
	width: 400px;
	outline: none;
	margin:0;
	border:2px solid #CF6041;
	border-radius:0;	
	padding:12px 15px;
	background-color:#FCF7F5;
}

body.ou-help-home #ou-content .hero-top .search input[type="text"]:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 192, 79, 0.6); 
	border:2px solid #ffc23d;
}

body.ou-help-home #ou-content .hero-top .search button.btn-submit {
	border-radius: 0;
	box-sizing: border-box;
	position: absolute;
	top: 13px;
	right: 15px;
	background: transparent;
	background-image: url(icon-search.png);
	background-position: 0 -17px;
	background-repeat: no-repeat;
	color: #0b55a8;
	border: 0;
	margin: 0;
	padding:0;
	width: 18px;
	height: 17px;
	cursor: pointer;
	transition:none;
}

body.ou-help-home #ou-content .hero-top .search button.btn-submit:hover {background-position: top right;}


/* your help centre */


#ou-content .your-help-centre .responsive-tabs__panel {margin: 20px 0 0 0;}

.your-help-centre h3 {
	margin:5px 0 5px 0;
	font-size:1.2em;
}

.your-help-centre h3 a {text-decoration:none;}

.your-help-centre .ou-cols p {
	margin-bottom:0;
	color:#666;
}

.your-help-centre p i {
	font-size:1.2em;
	vertical-align:middle;
}


/* article finder */

body.ou-help-home #ou-content div.article-finder {
	display: block; /* changed */
	margin: 0 auto;
	width: 100%;
}

html.js body.ou-help-home #ou-content div.article-finder {
	display: block;
	overflow: hidden;
}

body.ou-help-home #ou-content div.article-finder:after {
	content: '';
	display: block;
	clear: both;
}

body.ou-help-home #ou-content div.article-finder > h2 {margin-top:0;}

body.ou-help-home #ou-content div.article-finder div.steps > div {
	position: relative;
	float: left;
	width: 30%;
	margin-right: 5%;
}

html.ie7 body.ou-help-home #ou-content div.article-finder div.steps > div {
	width: 29%;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.article {
	margin-right: 0;
}

/*body.ou-help-home #ou-content div.article-finder div.steps > div:after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 100%;
	background: #CCC;
	top: 0px;
	right: -9%;
}*/

body.ou-help-home #ou-content div.article-finder div.steps > div:last-child:after {
	display: none;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > h3 {
	padding-bottom: 0.6em;
	margin-bottom: 0.8em;
	border-bottom: #CCC 4px solid;
	color: #555;
	font-size: 1.1em;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > h3:after {
	content: "\f0ab";
	display: block;
	position: relative;
	float: right;
	font-size: 1.3em;
	font-weight: normal;
	font-family: FontAwesome;
	color: #3d7900;
	top: -15px;
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: top 0.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s linear;
	-moz-transition: top 0.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s linear;
	-ms-transition: top 0.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s linear;
	-o-transition: top 0.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s linear;
	transition: top 0.35s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s linear;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > div.spinner {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
	
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all 0.13s ease;
	-moz-transition: all 0.13s ease;
	-ms-transition: all 0.13s ease;
	-o-transition: all 0.13s ease;
	transition: all 0.13s ease;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.category > div.spinner {
	background: url(hc-article-finder-spinner1.gif) no-repeat;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.article > div.spinner {
	background: url(hc-article-finder-spinner2.gif) no-repeat;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.loading > div.spinner {
	opacity: 1;
	visibility: visible;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.topic > h3:after {color: #880088;}

body.ou-help-home #ou-content div.article-finder div.steps > div.category > h3:after {color: #0b55a8;}

body.ou-help-home #ou-content div.article-finder div.steps > div.article > h3:after {color: #CF6041;}

body.ou-help-home #ou-content div.article-finder div.steps > div.active > h3:after {
	top: 0px;
	opacity: 1;
	visibility: visible;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.loading > h3:after {
	opacity: 0;
	visibility: hidden;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > h3 {margin-top:5px;}

body.ou-help-home #ou-content div.article-finder div.steps > div > h3 > strong {
	color: #000;
	padding-right: 0.3em;
	font-weight: 700;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.topic > h3 {border-color: #880088;}

body.ou-help-home #ou-content div.article-finder div.steps > div.category > h3 {border-color: #0b55a8;}

body.ou-help-home #ou-content div.article-finder div.steps > div.article > h3 {border-color: #CF6041;}

body.ou-help-home #ou-content div.article-finder div.steps > div.topic.active > h3 {color: #880088;}

body.ou-help-home #ou-content div.article-finder div.steps > div.topic.active > h3 > strong {color: #880088;}

body.ou-help-home #ou-content div.article-finder div.steps > div.category.active > h3 {color: #0b55a8;}

body.ou-help-home #ou-content div.article-finder div.steps > div.category.active > h3 > strong {color: #26639F;}

body.ou-help-home #ou-content div.article-finder div.steps > div.article.active > h3 {color: #CF6041;}

body.ou-help-home #ou-content div.article-finder div.steps > div.article.active > h3 > strong {color: #C45231;}

body.ou-help-home #ou-content div.article-finder div.steps > div:before {
	font-family: FontAwesome;
	display: block;
	position: absolute;
	font-size: 100px;
	width: 100px;
	height: 100px;
	top: 200px;
	left: 50%;
	margin-left: -50px;
	color: #DEDEDE;
	opacity: 1;
	visibility: visible;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.selected:before {
	opacity: 0;
	visibility: hidden;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.category:before {content: "\f00a";}

body.ou-help-home #ou-content div.article-finder div.steps > div.article:before {content: "\f036";}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li {
	border-bottom: #DDD 1px solid;
	position: relative;
	left: -100%;
	opacity: 0;
	visibility: hidden;
	margin:0;
	padding:0;
	
	-webkit-transition: left 0.18s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.23s linear;
	-moz-transition: left 0.18s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.23s linear;
	-ms-transition: left 0.18s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.23s linear;
	-o-transition: left 0.18s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.23s linear;
	transition: left 0.18s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.23s linear;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li:before {content:"";}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li.docked {
	left: 0px;
	opacity: 1;
	visibility: visible;
}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li:last-child {border-bottom: 0;}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li > a {
	display: block;
	position: relative;
	padding: 0.5em 0.6em;
	text-decoration: none;
	color: #039;
	background-color: #fff;
	
	-webkit-transition: all 0.13s ease;
	-moz-transition: all 0.13s ease;
	-ms-transition: all 0.13s ease;
	-o-transition: all 0.13s ease;
	transition: all 0.13s ease;
}

html.ie7 body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li > a {zoom: 1;}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li > a:hover {background-color: #f5f5f5;}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li.active {border-bottom: none;}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li.active > a {
	background-color: #396E8D;
	color: #FFF;
	padding-right: 25px;
	font-weight: bold;
}

body.ou-help-home #ou-content div.article-finder div.steps > div.topic > ul > li.active > a {background-color: #880088;}

body.ou-help-home #ou-content div.article-finder div.steps > div.category > ul > li.active > a {background-color: #0b55a8;}

body.ou-help-home #ou-content div.article-finder div.steps > div.article > ul > li.active > a {background-color: #CF6041;}

body.ou-help-home #ou-content div.article-finder div.steps > div > ul > li.active > a:after {
	content: "\f054";
	display: block;
	position: absolute;
	top: 7px;
	right: 8px;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
}


/* topic browser */

.topic-browser .ou-grid {margin-bottom:20px;}

.topic-browser h2 {margin-top:0;}

.topic-browser a {text-decoration:none;}

.topic-browser a h3 {
	color:#039;
	margin:10px 0 0 0;
	font-size:1.1em;
}

.topic-browser a:hover h3 {color:#000;}

.topic-browser a img {
	border-top:3px solid #fff;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.topic-browser a:hover img {border-top:3px solid #a6d0ff;}

.topic-browser p {
	margin:4px 0 0 0;
	line-height:1.4em;
	color:#555;
}


/*
-------------------------------------------
	Help Topic
-------------------------------------------
*/

body.ou-help-topic div#ou-region1 {width:100%;}

.hero {
	position:relative;	
}

.hero a {text-decoration:none;}

.hero p {
	display: block;
	position: absolute;
	width: 40%;
	left: auto;
	right: 3%;
	bottom: 17%;
	background: #DD3E57;
	background: rgb(221,62,87);
	background: rgba(221,62,87, 0.8);
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 120%;
	text-align: right;
	padding: 25px 20px;
	margin: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	font-size: 2.1em;	
}


/*
-------------------------------------------
	Help Category
-------------------------------------------
*/

body.ou-help-category div#ou-region1 {width:100%;}

.articles .article {padding:20px;	}

.articles .article:nth-child(odd) {background:#e7eff7;}

.articles .article h2 {
	margin:0 0 6px 0;
	font-size:1.2em;
}

.articles .article a {text-decoration:none;}

.articles .article p {
	margin-bottom:0;
	color:#555;
}

#ou-content .articles .article ul {
	margin-top:20px;
	margin-bottom:0;
}


/*
-------------------------------------------
	Help Article
-------------------------------------------
*/

.related-help {padding:40px 20px 20px 20px;	}

.related-help h2 {
	font-size:1.4em;
	margin-top:0;
	border-top:3px solid #b52a1e;
	padding-top:15px;	
}

body.article-multi .related-help {padding-top:5px;}

.related-help ul li {
	margin-bottom:6px; 
	border-bottom:1px solid #f5f5f5; 
	padding:0 0 6px 4px;
}

.related-help ul li:last-child {border-bottom:0;}

.related-help ul li a {text-decoration:none;}

.ou-breadcrumb {
	display:block;
	padding-right:280px;
	position:relative;
}


/* quick find */

.ou-quick-find {
	display:block;
	position:absolute;
	top:-10px;
	right:0;
	width:250px;
}

#ou-region0 .ou-quick-find form {
	background-color:transparent;
	color:#222;
	padding:0;
	position:relative;
}

#ou-region0 .ou-quick-find form input[type="text"] {
	width: 218px;
	outline: none;
	margin:0;
	border:1px solid #CF6041;
	border-radius:0;	
	padding:10px 15px;
	background-color:#FCF7F5;
}

#ou-region0 .ou-quick-find form input[type="text"]:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 192, 79, 0.6); 
	border:1px solid #ffc23d;
}

#ou-region0 .ou-quick-find form button {
	border-radius: 0;
	box-sizing: border-box;
	position: absolute;
	top: 10px;
	right: 12px;
	background: transparent;
	background-image: url(icon-search.png);
	background-position: 0 -17px;
	background-repeat: no-repeat;
	color: #0b55a8;
	border: 0;
	margin: 0;
	padding:0;
	width: 18px;
	height: 17px;
	cursor: pointer;
	transition:none;
}

#ou-region0 .ou-quick-find button:hover {background-position: top right;}



/*
-------------------------------------------
	Help Footer
-------------------------------------------
*/


#ou-site-footer ul.footer {
	display: block;
	width: 100%;
	margin: 0 0 15px 0;
	clear:both;
}

#ou-site-footer ul.footer li {
	display: inline-block;
	margin: 0 15px 0 0;
	padding: 0;
	font-size:.9em;
}

#ou-site-footer ul.footer li a {text-decoration: none;}

#ou-site-footer ul.footer li i {display:none;}

/*
-------------------------------------------
	Nav - Help Centre
-------------------------------------------
*/

.ou-nav-help {margin-bottom:25px;}

.ou-nav-help li a {
	text-decoration:none;
	padding:11px 28px 10px 12px;
	background-color:#ACD2FD;
	border-bottom:1px solid #fff;
	display:block;
	background-image:url(help-nav-sprites.png);
	background-repeat:no-repeat;
	background-position:right 10px;
}

.ou-nav-help li a:hover {
	color:#000;
	background-color:#C6E0FE;
	background-position:right -90px;
}

.ou-nav-help li a.ou-selected {
	background-color:#195CA5;
	color:#fff;
	background-position:right -190px;
}

.ou-nav-help li.ou-nav-help-back a {
	background-color:#eee;
	color:#666;
	background-position:right -290px;
}

.ou-nav-help li.ou-nav-help-back a:hover {
	color:black;
	background-position:right -390px;
}

.ou-nav-help li em {
	font-style:normal;
	padding-right:4px;
}


/*
-------------------------------------------
	Other
-------------------------------------------
*/


/* MP articles */

p.ou-multipage-count {
	color:#666;
	margin-bottom:3px;	
}

.ou-help-header {position:relative;}

.ou-help-header h1 {padding-right:110px;} /* space for save page widget */


.ou-help-header-save {
	position:absolute;
	right:0;
	bottom:10px;
	text-decoration:none;
}



/* Feedback widget */

.ou-feedback-widget h2 {
	font-size:1em;
	font-weight:bold;
	color:#555;
	margin-top:0;
}

.ou-feedback-btn-container button {
	color: #fff;
	background-color: #69963D;
	border: none;
	border-radius: 4px;
	padding: 6px 10px;
	margin: 0 5px 0 0;
	cursor: pointer;
}

.ou-feedback-btn-container button.ou-feedback-btn-no {background-color: #A63B2F;}

.ou-feedback-btn-container button:hover {background-color:black;}




/*
-------------------------------------------
	Sitemap
-------------------------------------------
*/


#ou-content div.sitemap ul {
	list-style-type: none;
}

#ou-content div.sitemap ul li a {
	text-decoration: none;
	line-height: 26px;
}

#ou-content div.sitemap ul li.root:before {
	content: "\f07c  ";
	font-family:'FontAwesome';
	margin-right:4px;
	color: #000;
}

#ou-content div.sitemap ul li.root {font-size: 18px;}

#ou-content div.sitemap ul li {font-size: 14px;}

#ou-content div.sitemap ul li:before {
	font-size:1em;
	position:static;
	line-height:normal;	
}

#ou-content div.sitemap ul li:before {
	content: "\f016  ";
	font-family:'FontAwesome';
	margin-right:4px;
	color: #000;
}

#ou-content div.sitemap ul li.topic:before {
	content: "\f009  ";
	font-family:'FontAwesome';
	margin-right:4px;
	color: #880088;
}

#ou-content div.sitemap ul li.category:before {
	content: "\f00a  ";
	font-family:'FontAwesome';
	margin-right:4px;
	color: #0b55a8;
}

#ou-content div.sitemap ul li.article:before {
	content: "\f036  ";
	font-family:'FontAwesome';
	margin-right:4px;
	color: #CF6041;
}


/*
-------------------------------------------
	FEEDBACK
-------------------------------------------
*/

div.ouforms div.ou-honigfalle {
	position: absolute;
	left: -9999em;
	height: 0;
	width: 0;
	overflow: hidden;
}






@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

.ou-breadcrumb {
	padding-right:0;
	position:static;
}

.ou-quick-find {
	position:static;
	width:250px;
	margin-bottom:15px;
	margin-top:-10px;
}


} /* end media query */








/*
-------------------------------------------
	FUTURE VERSION
	http://the-open-university.github.io/student-theme-framework/example-pages-help-home-future.html
-------------------------------------------
*/


body.ou-help-future div#ou-region1 {
	float:right;
	width:72%;
}

body.ou-help-future div#ou-region2 {
	float:left;
	width:24%;
}


/* search box */

#ou-content .ou-quick-find form {
	background-color:transparent;
	color:#222;
	padding:0;
	position:relative;
}

#ou-content .ou-quick-find form input[type="search"] {
	border:1px solid #CF6041;
	border-radius:0;	
	padding:12px 15px;
	margin-bottom:15px;
	background-color:#FCF7F5;
}

#ou-content .ou-quick-find form input[type="search"]:focus {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 192, 79, 0.6);
}

#ou-content .ou-quick-find form button {
	border-radius: 0;
	box-sizing: border-box;
	position: absolute;
	top: 12px;
	right: 15px;
	background: transparent;
	background-image: url(icon-search.png);
	background-position: 0 -17px;
	background-repeat: no-repeat;
	color: #0b55a8;
	border: 0;
	margin: 0;
	padding:0;
	width: 18px;
	height: 17px;
	cursor: pointer;
	transition:none;
}

#ou-content .ou-quick-find button:hover {background-position: top right;}

.ou-quick-find p {
	color:#666;
	font-size:95%;
}

