@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	images-and-objects.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Images
-------------------------------------------
*/




img.ou-border {
	border: 1px solid #a6d0ff;
	padding: 8px;
	margin-bottom: 15px;
}

img.ou-go1 {
	float: left;
	margin: 0 25px 15px 0;
}

img.ou-go2 {
	float: right;
	margin: 0 0 15px 25px;
}

img.ou-go3 {
	display: block;
	margin: 0 auto 15px auto;
}

div.ou-img {
	padding: 15px;
	margin:0 0 25px 0;
	background-color: #e7eff7;
	text-align:center;
}

div.ou-img img {
	margin:0 auto;
}

div.ou-img p.ou-caption {
	margin:5px 0 0 0;
	color:#555;
}

div.ou-go1 {
	width:40%;
	float:left;
	margin:0 25px 15px 0;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go2 {
	width:40%;
	float:right;
	margin:0 0 15px 25px;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go3 {
	width:80%;
	margin:0 auto 15px auto;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go1 h2,
div.ou-go2 h2,
div.ou-go3 h2 {margin-top:0;}





/* image and button */

.ou-img-and-btn {
	position:relative;
}

.ou-img-and-btn a.ou-btn {
	position:absolute;
	bottom:	20px;
	right:20px;
	margin-bottom:0;
}


/*
-------------------------------------------
	Hero with text
-------------------------------------------
*/


.hero {
	position:relative;
	margin-bottom:25px;
}

.hero img {float:left;}

.hero a {text-decoration:none;}

.hero p {
	display: block;
	position: absolute;
	width: 60%;
	left: auto;
	right: 0;
	bottom: 0;
	background: #DD3E57;
	background: rgb(221,62,87);
	background: rgba(221,62,87, 0.8);
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 120%;
	text-align: right;
	padding: 25px 20px;
	margin: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	font-size: 2.1em;	
}

#ou-region2 .hero p {
	position:static;
	display:block;
	font-size:1.2em;
	padding:12px 18px;
	line-height:130%;
	text-align:left;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.hero p.bg-colour1 {background:#539d3c !important; background: rgb(83, 157, 60) !important; background: rgba(83, 157, 60, 0.8) !important; } /* green */
.hero p.bg-colour2 {background:#b52a1e !important; background: rgb(181, 42, 30) !important; background: rgba(181, 42, 30, 0.8) !important; } /* red */
.hero p.bg-colour3 {background:#ffc23d !important; background: rgb(255, 194, 61) !important; background: rgba(255, 194, 61, 0.8) !important; color:#000; } /* gold */
.hero p.bg-colour4 {background:#470d43 !important; background: rgb(71, 13, 67) !important; background: rgba(71, 13, 67, 0.8) !important; } /* dark purple */
.hero p.bg-colour5 {background:#0b55a8 !important; background: rgb(11, 85, 168) !important; background: rgba(11, 85, 168, 0.8) !important; } /* mid blue */
.hero p.bg-colour6 {background:#a6d0ff !important; background: rgb(166, 208, 255) !important; background: rgba(166, 208, 255, 0.8) !important; color:#000; } /* light blue */
.hero p.bg-colour7 {background:#002158 !important; background: rgb(0, 33, 88) !important; background: rgba(0, 33, 88, 0.8) !important; } /* dark blue */
.hero p.bg-colour8 {background:#312b39 !important; background: rgb(49, 43, 57) !important; background: rgba(49, 43, 57, 0.8) !important; } /* dark grey */
.hero p.bg-colour9 {background:#880088 !important; background: rgb(136, 0, 136) !important; background: rgba(136, 0, 136, 0.8) !important; } /* purple */
.hero p.bg-colour10 {background:#929fb0 !important; background: rgb(146, 159, 176) !important; background: rgba(146, 159, 176, 0.8) !important; color:#000; } /* mid grey blue */
.hero p.bg-colour11 {background:#e7eff7 !important; background: rgb(231, 239, 247) !important; background: rgba(231, 239, 247, 0.8) !important; color:#000; } /* light grey blue */
.hero p.bg-colour12 {background:#cf6041 !important; background: rgb(207, 96, 65) !important; background: rgba(207, 96, 65, 0.8) !important; } /* orange */

.hero:hover p {background:#DD3E57;}

.hero:hover p.bg-colour1 {background:#539d3c !important;} /* green */
.hero:hover p.bg-colour2 {background:#b52a1e !important;} /* red */
.hero:hover p.bg-colour3 {background:#ffc23d !important;} /* gold */
.hero:hover p.bg-colour4 {background:#470d43 !important;} /* dark purple */
.hero:hover p.bg-colour5 {background:#0b55a8 !important;} /* mid blue */
.hero:hover p.bg-colour6 {background:#a6d0ff !important;} /* light blue */
.hero:hover p.bg-colour7 {background:#002158 !important;} /* dark blue */
.hero:hover p.bg-colour8 {background:#312b39 !important;} /* dark grey */
.hero:hover p.bg-colour9 {background:#880088 !important;} /* purple */
.hero:hover p.bg-colour10 {background:#929fb0 !important;} /* mid grey blue */
.hero:hover p.bg-colour11 {background:#e7eff7 !important;} /* light grey blue */
.hero:hover p.bg-colour12 {background:#cf6041 !important;} /* orange */





/*
-------------------------------------------
	Buttons
-------------------------------------------
*/

a.ou-btn {
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px;
	display: inline-block;
	margin-bottom: 15px;
}

a.ou-btn:hover {
	background:#539d3c;
	color:#fff;
}

.box a.ou-btn {margin-bottom:0;}




/*
-------------------------------------------
	Paragraphs
-------------------------------------------
*/

p.ou-introduction {
	color: #0b55a8;
	font-size: 1.2em;
}

p.ou-welcome {
	border-top:2px solid #a6d0ff;
	padding:10px 15px 15px 10px;
}



/*
-------------------------------------------
	Media
-------------------------------------------
*/

object,
.ou-video iframe {max-width: 100%;}

#ou-content a.ou-toggle {
	text-decoration:none;
}

#ou-content a.ou-toggle:before {
	font-family: 'FontAwesome';
	content: "\f036";
	display: inline-block;
	padding-right:6px;
}

#ou-content a.ou-toggle:hover,
#ou-content a.ou-toggle:hover:before {
	color:#000;
}

p.ou-toggle {
	margin:5px 0 0 0;
}

div.ou-video blockquote p,
div.ou-audio blockquote p {
	text-align:left;
	font-size:1em;
	color:#494949;
	font-family:Arial, Helvetica, sans-serif;
}

div.ou-video,
div.ou-audio {
	padding: 20px;
	margin:0 0 20px 0;
	background-color: #e7eff7;
	text-align:center;
}

div.ou-audio blockquote .ou-dialogue dt,
div.ou-audio blockquote .ou-dialogue dd {
	padding-left:0;
	text-align:left;
	color:#fff;
}

div.ou-audio blockquote .ou-dialogue dt {
	color:#000;
}

div.ou-audio blockquote .ou-dialogue dt:before {
	content:"";
}


/*
-------------------------------------------
	Blockquotes
-------------------------------------------
*/

blockquote cite a {text-decoration:none;}

blockquote.ou-pullquote1,
blockquote.ou-pullquote2 {
	width: 40%;
	float: left;
	margin-left:0;
	padding-right:0;
}

blockquote.ou-pullquote2 {
	float:right;
	margin-right:0;
	margin-left:40px;
}

blockquote.ou-pullquote1 p,
blockquote.ou-pullquote2 p {
	font-size:1.2em;
	color:#0b55a8;
}

#ou-region2 blockquote {
	margin: 16px 0;
	padding: 30px 0 20px 0;
}



/*
-------------------------------------------
	Blocks
-------------------------------------------
*/

.ou-block-showhide,
.ou-block-showhide2,
.ou-block-showhide3 {margin-bottom:15px;}

.ou-block-showhide2 {background:#e7eff7;}

.ou-block-showhide3 {background:#eee;}

.ou-block-showhide h2 {
	background:#0b55a8;
	color:#fff;
	padding:12px 15px;
	margin:0 0 15px 0;
	font-size:1.2em;
}

.ou-block-showhide2 h2 {
	background:transparent;
	color:#000;
	border-bottom:1px solid #a6d0ff;
	font-size:1em;
	font-weight:bold;
	padding:13px 15px 12px 15px;
	margin:0 0 15px 0;
}

.ou-block-showhide3 h2 {
	background:#0b55a8;
	color:#fff;
	font-size:1em;
	font-weight:bold;
	padding:13px 15px 12px 15px;
	margin:0 0 15px 0;
}


/*
-------------------------------------------
	Adverts
-------------------------------------------
*/

a.ou-advert {
	border:1px solid #ddd;
	text-align:center;
	padding:10px 20px;
	margin:0 0 20px 0;
	text-decoration:none; 
	display:block;
}

a.ou-advert:hover {
	border:1px solid #312b39;
	text-decoration:none;
}

a.ou-advert i {
	color:#CF6041;
	font-size:60px;
	margin-bottom:10px;
}

a.ou-advert .ou-advert-text,
a.ou-advert p {
	color:#666;
	margin-bottom:5px;
}

a.ou-advert .ou-advert-highlighted {
	color:#CF6041;
	font-size:1.4em;
	margin-bottom:0;
}

a.ou-advert h2 {font-size:1.4em;}


/*
-------------------------------------------
	Calendar
-------------------------------------------
*/

.ou-calendar {margin-bottom:25px;}

.ou-calendar .ou-calendar-row {
	margin-bottom:12px;
	padding-bottom:12px;
	border-bottom:1px solid #eee;
}

.ou-calendar .ou-calendar-row:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}

.ou-calendar .ou-calendar-date {
	width:55px;
	height:auto;
	float:left;
	margin-right:10px;
}

.ou-calendar .ou-calendar-date em {
	font-style:normal;
	font-size:.9em;
	color:#fff;
	background:#b52a1e;
	padding:3px;
	text-align:center;
	text-transform:uppercase;
	display:block;
}

.ou-calendar .ou-calendar-date strong {
	text-align:center;
	color:#000;
	font-size:25px;
	font-weight:normal;
	display:block;
	background:#f5f5f5;
	background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 50%, #eeeeee 50%, #eeeeee 100%);
	padding:10px 0;
}

.ou-calendar .ou-calendar-info {
	color:#666;
	margin-left:65px;
}

.ou-calendar .ou-calendar-info h2,
.ou-calendar .ou-calendar-info h3 {
	font-size:1em;
	font-weight:bold;
	color:black;
	margin:0 0 3px 0;
}

.ou-calendar .ou-calendar-info h2 a,
.ou-calendar .ou-calendar-info h3 a {text-decoration:none;}

.ou-calendar .ou-calendar-info p {
	margin-bottom:0;
	font-size:.9em;
}





@media only screen and (max-width: 850px), screen and (max-device-width: 850px) {


.hero p {
	font-size:1.8em;
	width:70%;
}


} /* end media query */


@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {


.hero p {
	font-size: 1.6em;
	width:60%;
	padding: 15px 10px;
}


} /* end media query */



@media only screen and (max-width: 640px), screen and (max-device-width: 640px) {


.hero p {
	width: 70%;
	font-size: 1.4em;
}


} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

img.ou-go1,
img.ou-go2,
#ou-content ul.ou-news img {
	max-width:140px;
}

img.ou-go1 {margin-right:15px;}

img.ou-go2 {margin-left:15px;}

img.ou-border {max-width:95%;}

img.ou-go1.ou-border,
img.ou-go2.ou-border {max-width:140px;}

.hero p {font-size: 1.2em;}

/* blockquotes */

blockquote p,
blockquote.ou-pullquote1 p, 
blockquote.ou-pullquote2 p {
	font-size:1em;
}


} /* end media query */

