@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	images-and-objects.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Images
-------------------------------------------
*/




img.ou-border {
	border: 1px solid #a6d0ff;
	padding: 8px;
	margin-bottom: 15px;
}

img.ou-go1 {
	float: left;
	margin: 0 25px 15px 0;
}

img.ou-go2 {
	float: right;
	margin: 0 0 15px 25px;
}

img.ou-go3 {
	display: block;
	margin: 0 auto 15px auto;
}

div.ou-img {
	padding: 15px;
	margin:0 0 25px 0;
	background-color: #e7eff7;
	text-align:center;
}

div.ou-img img {
	margin:0 auto;
}

div.ou-img p.ou-caption {
	margin:5px 0 0 0;
	color:#555;
}

div.ou-go1 {
	width:40%;
	float:left;
	margin:0 25px 15px 0;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go2 {
	width:40%;
	float:right;
	margin:0 0 15px 25px;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go3 {
	width:80%;
	margin:0 auto 15px auto;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go1 h2,
div.ou-go2 h2,
div.ou-go3 h2 {margin-top:0;}





/* image and button */

.ou-img-and-btn {
	position:relative;
}

.ou-img-and-btn a.ou-btn {
	position:absolute;
	bottom:	20px;
	right:20px;
	margin-bottom:0;
}


/*
-------------------------------------------
	Hero with text
-------------------------------------------
*/


.hero {
	position:relative;
	margin-bottom:25px;
}

.hero img {float:left;}

.hero a {text-decoration:none;}

.hero p {
	display: block;
	position: absolute;
	width: 40%;
	left: auto;
	right: 3%;
	bottom: 25%;
	background: #DD3E57;
	background: rgb(221,62,87);
	background: rgba(221,62,87, 0.8);
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	line-height: 120%;
	text-align: right;
	padding: 25px 20px;
	margin: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	font-size: 2.1em;	
}

.hero-two-thirds p {
	bottom:0;
	right:0;
	width:60%;
}



/*
-------------------------------------------
	Buttons
-------------------------------------------
*/

a.ou-btn {
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px;
	display: inline-block;
	margin-bottom: 15px;
}

a.ou-btn:hover {
	background:#539d3c;
	color:#fff;
}

.box a.ou-btn {margin-bottom:0;}




/*
-------------------------------------------
	Paragraphs
-------------------------------------------
*/

p.ou-introduction {
	color: #0b55a8;
	font-size: 1.2em;
}

p.ou-welcome {
	border-top:2px solid #a6d0ff;
	padding:10px 15px 15px 10px;
}



/*
-------------------------------------------
	Media
-------------------------------------------
*/

#ou-content a.ou-toggle {
	text-decoration:none;
}

#ou-content a.ou-toggle:before {
	font-family: 'FontAwesome';
	content: "\f036";
	display: inline-block;
	padding-right:6px;
}

#ou-content a.ou-toggle:hover,
#ou-content a.ou-toggle:hover:before {
	color:#000;
}

p.ou-toggle {
	margin:5px 0 0 0;
}

div.ou-video blockquote p,
div.ou-audio blockquote p {
	text-align:left;
	font-size:1em;
	color:#494949;
	font-family:Arial, Helvetica, sans-serif;
}

div.ou-video,
div.ou-audio {
	padding: 20px;
	margin:0 0 20px 0;
	background-color: #e7eff7;
	text-align:center;
}

div.ou-audio blockquote .ou-dialogue dt,
div.ou-audio blockquote .ou-dialogue dd {
	padding-left:0;
	text-align:left;
	color:#fff;
}

div.ou-audio blockquote .ou-dialogue dt {
	color:#000;
}

div.ou-audio blockquote .ou-dialogue dt:before {
	content:"";
}


/*
-------------------------------------------
	Blockquotes
-------------------------------------------
*/

blockquote cite a {text-decoration:none;}

blockquote.ou-pullquote1,
blockquote.ou-pullquote2 {
	width: 40%;
	float: left;
	margin-left:0;
	padding-right:0;
}

blockquote.ou-pullquote2 {
	float:right;
	margin-right:0;
	margin-left:40px;
}

blockquote.ou-pullquote1 p,
blockquote.ou-pullquote2 p {
	font-size:1.2em;
	color:#0b55a8;
}


/*
-------------------------------------------
	Blocks
-------------------------------------------
*/

.ou-block-showhide,
.ou-block-showhide2,
.ou-block-showhide3 {margin-bottom:15px;}

.ou-block-showhide2 {background:#e7eff7;}

.ou-block-showhide3 {background:#eee;}

.ou-block-showhide h2 {
	background:#0b55a8;
	color:#fff;
	padding:12px 15px;
	margin:0 0 15px 0;
	font-size:1.2em;
}

.ou-block-showhide2 h2 {
	background:transparent;
	color:#000;
	border-bottom:1px solid #a6d0ff;
	font-size:1em;
	font-weight:bold;
	padding:13px 15px 12px 15px;
	margin:0 0 15px 0;
}

.ou-block-showhide3 h2 {
	background:#0b55a8;
	color:#fff;
	font-size:1em;
	font-weight:bold;
	padding:13px 15px 12px 15px;
	margin:0 0 15px 0;
}


/*
-------------------------------------------
	Adverts
-------------------------------------------
*/

a.ou-advert {
	border:1px solid #ddd;
	text-align:center;
	padding:10px 20px;
	margin:0 0 20px 0;
	text-decoration:none; 
	display:block;
}

a.ou-advert:hover {
	border:1px solid #312b39;
}

a.ou-advert i {
	color:#CF6041;
	font-size:70px;
	margin-bottom:10px;
}

a.ou-advert .ou-advert-text {
	color:#666;
	margin-bottom:5px;
}

a.ou-advert .ou-advert-highlighted {
	color:#CF6041;
	font-size:1.4em;
	margin-bottom:0;
}


@media only screen and (max-width: 850px), screen and (max-device-width: 850px) {

.hero p {
	width: 50%;
	font-size: 2em;
	bottom:0;
	right:0;
}

.hero-two-thirds p {
	font-size:1.8em;
	width:70%;
}


} /* end media query */


@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {


.hero p {
	font-size: 1.8em;
	width:60%;
	padding: 15px 10px;
}

.hero-two-thirds p {font-size:1.6em;}

} /* end media query */



@media only screen and (max-width: 640px), screen and (max-device-width: 640px) {


.hero p {
	width: 70%;
	font-size: 1.6em;
}

.hero-two-thirds p {font-size:1.4em;}


} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

img.ou-go1,
img.ou-go2,
#ou-content ul.ou-news img {
	max-width:140px;
}

img.ou-go1 {margin-right:15px;}

img.ou-go2 {margin-left:15px;}

img.ou-border {max-width:95%;}

img.ou-go1.ou-border,
img.ou-go2.ou-border {max-width:140px;}

.hero p {font-size: 1.2em;}

/* blockquotes */

blockquote p,
blockquote.ou-pullquote1 p, 
blockquote.ou-pullquote2 p {
	font-size:1em;
}


} /* end media query */

