@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	layout.css

--------------------------------------------------------------------------------------
*/



/*
-------------------------------------------
	Clears
	use ".ou-grid" to clear containers 
-------------------------------------------
*/


/* modern browsers */

.ou-grid:before, .ou-grid:after,
#ou-header:before, div#ou-header:after,
#ou-site:before, div#ou-site:after,
#ou-site-body:before, div#ou-site-body:after,
#ou-site-header:before, #ou-site-header:after,
#ou-site-footer:before, #ou-site-footer:after,
.ou-footer:before, div.ou-footer:after,
ol.ou-ancestors:before, ol.ou-ancestors:after,
.ou-paged:before, .ou-paged:after,
.ou-mobile-menu:before, .ou-mobile-menu:after,
.responsive-tabs-wrapper:before, .responsive-tabs-wrapper:after,
#ou-content ul.ou-news li:before, #ou-content ul.ou-news li:after,
.ou-creative:before, .ou-creative:after,
ul.ou-sections:before, ul.ou-sections:after
{
	content: "";
	display: table;
}

.ou-grid:after,
#ou-header:after,
#ou-site:after,
#ou-site-body:after,
#ou-site-header:after,
#ou-site-footer:after,
.ou-footer:after,
ol.ou-ancestors:after,
.ou-paged:after,
.ou-mobile-menu:after,
.responsive-tabs-wrapper:after,
#ou-content ul.ou-news li:after,
.ou-creative:after,
ul.ou-sections:after
{
	clear:both;
}


/* ie 6/7 */

.ou-grid,
#ou-header,
#ou-site,
#ou-site-body,
#ou-site-header,
#ou-site-footer,
.ou-footer,
ol.ou-ancestors,
.ou-paged,
.ou-mobile-menu,
.responsive-tabs-wrapper,
#ou-content ul.ou-news li,
.ou-creative,
ul.ou-sections
{
	zoom: 1;
}


/*
-------------------------------------------
	General
-------------------------------------------
*/


#ou-org {width:100%;}

#ou-header,
#ou-site-body,
#ou-site-footer {
	max-width:1180px;
	margin:0 auto;
}

#ou-site-header {text-align:center;}

#ou-site-body {margin-top: 25px;}

div#ou-region1 {
	float: left;
	width: 65%;
}

div#ou-region2 {
	float: right;
	width: 26%;
}



/*
-------------------------------------------
	Layouts
-------------------------------------------
*/

/* 100% width */

body.ou-pure div#ou-region1 {
	margin:0 0 20px 0;
	width:100%;
}

body.ou-pure div#ou-region2 {
	width:100%;
	margin:0;
}



div.ou-c1of2, 
div.ou-c1of3, 
div.ou-c2of3 {float: left;}

div.ou-c1of2,
div.ou-c2of2 {width: 48%;}

div.ou-c2of2, 
div.ou-c3of3 {float: right;}

div.ou-c1of3, 
div.ou-c2of3, 
div.ou-c3of3 {
	width: 30%;
	margin: 0;
	padding:0;
}

div.ou-c2of3 {margin-left: 5%;}



/*
-------------------------------------------
	12 Column Grid
-------------------------------------------
*/

.ou-row {
	zoom:1;
	margin-bottom:20px;
}

.ou-row:before, 
.ou-row:after {
	content: "";
	display: table;
}

.ou-row:after {clear:both;}

.no-space {margin-bottom:0;}

/*
.ou-cols {
	float:left;
	display:block;
	margin-right:2%;
}

.cols-1 {width:6.5%;}
.cols-2 {width:15%;}
.cols-3 {width:23.5%;}
.cols-4 {width:32%;}
.cols-5 {width:40.5%;}
.cols-6 {width:49%;}
.cols-7 {width:57.5%;}
.cols-8 {width:66%;}
.cols-9 {width:74.5%;}
.cols-10 {width:83%;}
.cols-11 {width:91.5%;}
.cols-12 {width:100%;}

.ou-grid .ou-cols:last-child,
.col-last {margin-right:0;}*/

.one-column,
.two-columns,
.three-columns,
.four-columns,
.five-columns,
.six-columns,
.seven-columns,
.eight-columns,
.nine-columns,
.ten-columns,
.eleven-columns,
.twelve-columns {
	float:left;
	display:block;
	margin-right:2%;
}

.one-column {width:6.5%;}
.two-columns {width:15%;}
.three-columns {width:23.5%;}
.four-columns {width:32%;}
.five-columns {width:40.5%;}
.six-columns {width:49%;}
.seven-columns {width:57.5%;}
.eight-columns {width:66%;}
.nine-columns {width:74.5%;}
.ten-columns {width:83%;}
.eleven-columns {width:91.5%;}
.twelve-columns {width:100%; margin-right:0;}

.ou-row div:last-child,
.last {margin-right:0;}


/*
-------------------------------------------
	Site ident
-------------------------------------------
*/

#ou-site-ident {text-align:left;}

#ou-site-ident p#ou-site-title {
	margin:0 auto;
	padding:5px 0 0 0;
	max-width:1180px;
}

#ou-site-ident p#ou-site-title a {
	padding:0;
	display:inline-block;
	color:#000;
	text-decoration:none;
	font-size:1.4em;
}

#ou-site-ident p#ou-site-title a:hover {text-decoration:underline;}

#ou-site-ident p#ou-site-description {
	margin:0 auto;
	max-width:1180px;
	padding:0 0 20px 0;
	color:#777;
}


/*
-------------------------------------------
	Carousel
-------------------------------------------
*/


.ou-carousel {
	max-width:1180px;
	margin:0 auto;
	text-align:left;
}


/*
-------------------------------------------
	Creative
-------------------------------------------
*/


.ou-creative {background: #e7eff7;}

.ou-creative img,
.ou-creative img.ou-go3 {
	margin:0 auto;
	display:block;
}



/*
-------------------------------------------
	Blocks
-------------------------------------------
*/


.block,
#ou-content .blocks-two-columns ul li,
#ou-content .blocks-three-columns ul li,
#ou-content .blocks-four-columns ul li,
#ou-content .blocks-five-columns ul li {
	height: auto;
	float: left;
	margin-right: 4%;
	margin-bottom: 15px;
	margin-left:0;
	padding:0;
}

#ou-content .blocks-two-columns ul,
#ou-content .blocks-three-columns ul,
#ou-content .blocks-four-columns ul,
#ou-content .blocks-five-columns ul {margin:0;}

#ou-content .blocks-two-columns ul li:before,
#ou-content .blocks-three-columns ul li:before,
#ou-content .blocks-four-columns ul li:before,
#ou-content .blocks-five-columns ul li:before {content:"";}

.blocks-two-columns .block, #ou-content .blocks-two-columns ul li {width: 48%;}
.blocks-three-columns .block, #ou-content .blocks-three-columns ul li {width: 30.5%;}
.blocks-four-columns .block, #ou-content .blocks-four-columns ul li {width: 22%;}
.blocks-five-columns .block, #ou-content .blocks-five-columns ul li {width: 17.5%; margin-right:3%;}

.blocks-two-columns .block:nth-child(2n+1), #ou-content .blocks-two-columns ul li:nth-child(2n+1),
.blocks-three-columns .block:nth-child(3n+1), #ou-content .blocks-three-columns ul li:nth-child(3n+1),
.blocks-four-columns .block:nth-child(4n+1), #ou-content .blocks-four-columns ul li:nth-child(4n+1),
.blocks-five-columns .block:nth-child(5n+1) #ou-content .blocks-five-columns ul li:nth-child(5n+1) {clear: left;}

.blocks-two-columns .block:nth-child(2n), #ou-content .blocks-two-columns ul li:nth-child(2n),
.blocks-three-columns .block:nth-child(3n), #ou-content .blocks-three-columns ul li:nth-child(3n),
.blocks-four-columns .block:nth-child(4n), #ou-content .blocks-four-columns ul li:nth-child(4n),
.blocks-five-columns .block:nth-child(5n), #ou-content .blocks-five-columns ul li:nth-child(5n) {margin-right:0;}











@media only screen and (max-width: 1180px), screen and (max-device-width: 1180px) {

#ou-header, 
#ou-site-body,
#ou-site-footer {
	max-width: none;
	padding: 0 15px;
}

#ou-site-ident p#ou-site-title,
#ou-site-ident p#ou-site-description {
	padding-left:15px;
}


} /* end media query */


@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {

div#ou-region1,
div#ou-region2,
body.ou-help div#ou-region1,
body.ou-help div#ou-region2 {
	float: left;
	width: 100%;
	margin:0 0 25px 0;
	padding:0;
}


.ipad {margin-bottom:0;}

.ipad .one-column,
.ipad .two-columns,
.ipad .three-columns,
.ipad .four-columns,
.ipad .five-columns,
.ipad .six-columns,
.ipad .seven-columns,
.ipad .eight-columns,
.ipad .nine-columns,
.ipad .ten-columns,
.ipad .eleven-columns,
.ipad .twelve-columns {
	width:48%;
	margin-right:4%;
	margin-bottom:15px;
}

.ipad div:nth-child(2n+1) {clear: left;}

.ipad div:nth-child(even) {margin-right: 0;}



#ou-site-ident p#ou-site-title {
	padding-top:15px;
}


/* blocks */

.blocks-three-columns .block:nth-child(3n), #ou-content .blocks-three-columns ul li:nth-child(3n),
.blocks-four-columns .block:nth-child(4n), #ou-content .blocks-four-columns ul li:nth-child(4n) {
	margin-right: 4%;
}

.blocks-five-columns .block:nth-child(5n), #ou-content .blocks-five-columns ul li:nth-child(5n) {
	margin-right: 3%;
}

.blocks-three-columns .block:nth-child(3n+1), #ou-content .blocks-three-columns ul li:nth-child(3n+1),
.blocks-four-columns .block:nth-child(4n+1), #ou-content .blocks-four-columns ul li:nth-child(4n+1),
.blocks-five-columns .block:nth-child(5n+1), #ou-content .blocks-five-columns ul li:nth-child(5n+1) {
	clear: none;
}

.blocks-three-columns .block:nth-child(2n), #ou-content .blocks-three-columns ul li:nth-child(2n),
.blocks-four-columns .block:nth-child(2n), #ou-content .blocks-four-columns ul li:nth-child(2n),
.blocks-five-columns .block:nth-child(2n), #ou-content .blocks-five-columns ul li:nth-child(2n) {
	margin-right: 0;
}

.blocks-three-columns .block:nth-child(2n+1),  #ou-content .blocks-three-columns ul li:nth-child(2n+1),
.blocks-four-columns .block:nth-child(2n+1), #ou-content .blocks-four-columns ul li:nth-child(2n+1),
.blocks-five-columns .block:nth-child(2n+1), #ou-content .blocks-five-columns ul li:nth-child(2n+1) {
	clear: left;
}

.blocks-three-columns .block, #ou-content .blocks-three-columns ul li,
.blocks-four-columns .block,  #ou-content .blocks-four-columns ul li,
.blocks-five-columns .block,  #ou-content .blocks-five-columns ul li {
	width: 48%;
}



} /* end media query */


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

#ou-site-body {
	margin-top: 20px;
}

div.ou-c1of2, 
div.ou-c2of2,
div.ou-c1of3, 
div.ou-c2of3, 
div.ou-c3of3,
.one-column,
.two-columns,
.three-columns,
.four-columns,
.five-columns,
.six-columns,
.seven-columns,
.eight-columns,
.nine-columns,
.ten-columns,
.eleven-columns,
.twelve-columns,
.ipad .one-column,
.ipad .two-columns,
.ipad .three-columns,
.ipad .four-columns,
.ipad .five-columns,
.ipad .six-columns,
.ipad .seven-columns,
.ipad .eight-columns,
.ipad .nine-columns,
.ipad .ten-columns,
.ipad .eleven-columns,
.ipad .twelve-columns {
	width: 100%;
	float:none;
	margin:0 0 15px 0;
}

.mobile {margin-bottom:0;}

.mobile .one-column,
.mobile .two-columns,
.mobile .three-columns,
.mobile .four-columns,
.mobile .five-columns,
.mobile .six-columns,
.mobile .seven-columns,
.mobile .eight-columns,
.mobile .nine-columns,
.mobile .ten-columns,
.mobile .eleven-columns
.mobile .twelve-columns {
	width:48%;
	float:left;
	margin-right:4%;
}

.mobile div:nth-child(2n+1) {clear: left;}

.mobile div:nth-child(even) {margin-right: 0;}

#ou-site-ident p#ou-site-title a {font-size:1.2em;}

#ou-site-ident p#ou-site-description {font-size:.9em;}

} /* end media query */







