@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	lists.css

--------------------------------------------------------------------------------------
*/



/* unordered */

#ou-content ul {
	margin:0 0 15px 25px;
	list-style-type: none;
	padding: 0;
}

#ou-content ul ul {margin:0 0 0 25px;}

#ou-content ul li {
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
	line-height:1.6em;
}

#ou-content ul li:before {
	content: "\2022";
	color: #0b55a8;
	font-size: 1.8em;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 90%;
}

/* unordered alternative */

#ou-content ul.ou-list-alt {margin:0;}

#ou-content ul.ou-list-alt li {
	margin-bottom: 0;
	position: static;
	padding-left: 0;
	border-bottom:1px solid #ddd;
	display:block;
	padding:5px 15px;
}

#ou-content ul.ou-list-alt li:last-child {border-bottom:none;}

#ou-content ul.ou-list-alt li:before {content: "";}

ul.ou-list-alt li a {text-decoration:none;}


/* unordered alternative 2 */

#ou-content ul.ou-list-alt2 {margin:0; padding:0 0 20px 0;}

#ou-content ul.ou-list-alt2 li {
	margin-bottom: 0;
	position: static;
	padding-left: 0;
	display:block;
	padding:2px 15px;
}

#ou-content ul.ou-list-alt2 li:before {content: "";}

ul.ou-list-alt2 li a {text-decoration:none;}


/* unordered list of links */

#ou-content ul.ou-link-list li a {text-decoration:none;}


/* unordered tick list */

#ou-content ul.ou-tick-list li {padding-left:22px;}

#ou-content ul.ou-tick-list li:before {
	content: "\f00c";
	font-family:FontAwesome;
	font-size:1em;
	color:#539d3c;
	top:5px;
}

/* unordered cross list */

#ou-content ul.ou-cross-list li {padding-left:22px;}

#ou-content ul.ou-cross-list li:before {
	content: "\f00d";
	font-family:FontAwesome;
	font-size:1em;
	color:#b52a1e;
	top:5px;
}




/* unordered icon list */

#ou-content ul.ou-icon-list {
	margin:0; 
	padding:0;
}

#ou-content ul.ou-icon-list li {
	margin:0 0 10px 0;
	padding:0;
	width:100%;
}

#ou-content ul.ou-icon-list li:before {content: "";}

#ou-content ul.ou-icon-list li a {
	text-decoration:none;
	display:block;
	background:#eee;
}

#ou-content ul.ou-icon-list li a:hover {background:#e7eff7;}

#ou-content ul.ou-icon-list li a i {
	padding:15px 0;
	margin-right:10px;
	background:#539d3c;
	font-size:1.2em;
	color:#fff;
	width:45px;
	text-align:center;
}



/* unordered news */

#ou-content ul.ou-news {
	list-style-type: none;
	margin: 0 0 15px 0;
	padding: 0;
}

#ou-content ul.ou-news h2,
#ou-content ul.ou-news h3 {
	margin-top:0;
}

#ou-content ul.ou-news li {
	margin: 0;
	padding: 0 0 0 0;
	list-style-type: none;
	border-bottom: 1px solid #ddd;
}

#ou-content ul.ou-news li:before {
	content:"";
}

#ou-content p.ou-date {
	color: #777;
	margin:15px 0 8px 0;
}

#ou-content ul.ou-news img {
	float: right;
	margin: 0 0 15px 15px;
	width:200px;
}

#ou-content ul.ou-news h2 a,
#ou-content ul.ou-news h3 a {
	text-decoration:none;
}

/* unordered news alternative */

#ou-content .ou-news-alt ul.ou-news li {
	margin: 0 0 10px 0;
	padding: 15px 20px 15px 15px;
	list-style-type: none;
	border-bottom: none;
	background:#eee;
	font-size:.9em;
	color:#666;
	position:relative;
}

#ou-content .ou-news-alt ul.ou-news h2,
#ou-content .ou-news-alt ul.ou-news h3 {
	font-size:1.1em;
	margin-bottom:4px;
}

#ou-content .ou-news-alt ul.ou-news p {margin-bottom:0;}

#ou-content .ou-news-alt a.ou-news-close {
	position:absolute;
	top:2px;
	right:4px;
	text-decoration:none;
	color:#999;
	display:inline-block;
}

#ou-content .ou-news-alt a.ou-news-close:hover {color:#b52a1e;}


/* list columns */


ul.ou-list-cols2,
ul.ou-list-cols3,
ol.ou-list-cols2,
ol.ou-list-cols3 {
	-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

ul.ou-list-cols3,
ol.ou-list-cols3 {
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}



/* ordered */

#ou-content ol {
	margin:0 0 15px 25px;
	counter-reset: item;
	list-style-type:none;
}

#ou-content ol ol {margin:0 0 0 25px;}

#ou-content ol li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height:1.6em;
}

#ou-content ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	color: #0b55a8;
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
}

/* zebra */

#ou-content ul.ou-zebra,
#ou-content ul.ou-zebra li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content ul.ou-zebra {margin-bottom:15px;}

#ou-content ul.ou-zebra li:before {content:"";}

#ou-content ul.ou-zebra li {padding:8px 12px;}

#ou-content ul.ou-zebra li:nth-child(odd) {
	background-color:#e7eff7;
	color:black;
}

#ou-content ul.ou-zebra li.ou-odd {
	background-color:#e7eff7;
	color:black;
}

/* dialogue/comments */

.ou-dialogue,
.ou-comment {
	padding:0;
	margin:15px 0;
}

.ou-dialogue dt,
.ou-comment dt {
	position:relative;
	padding-left:35px;
	color:#000;
}

.ou-dialogue dd,
.ou-comment dd {padding-left:35px;}

.ou-dialogue dt:before,
.ou-comment dt:before {
	font-family: 'FontAwesome';
	font-size:25px;
	content: "\f10d";
	color:#a6d0ff;
	display: block;
	position: absolute;
	left:0;
	top:0;
}


/* glossary */

.ou-glossary {margin-bottom:15px;}


/* Icon links  */

#ou-content ul.ou-links li {padding-left:0;}
#ou-content ul.ou-links li:before {content:"";}
#ou-content ul.ou-links li a {text-decoration:none;}

/* Sitemap */

ul.ou-sitemap a {text-decoration:none;}


@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

ul.ou-list-cols2,
ul.ou-list-cols3,
ol.ou-list-cols2,
ol.ou-list-cols3 {
	-moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
}

} /* end media query */

