/*
-------------------------------------------
    Custom headings
-------------------------------------------
*/

h1.smaller {font-size:2em;}

h2.smaller {font-size:1.5em;}


/*
-------------------------------------------
    Misc
-------------------------------------------
*/

#ou-region2 hr {margin:15px 0;}



/*
-------------------------------------------
    Mobile
-------------------------------------------
*/

div.ou-mobile-menu {display:none;}
