@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	navigation.css

--------------------------------------------------------------------------------------
*/


/*
-------------------------------------------
	Breadcrumb
-------------------------------------------
*/


ol.ou-ancestors,
ol.ou-ancestors li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;	
}

ol.ou-ancestors {margin:5px 0 25px 0;}

ol.ou-ancestors li {
	float:left;
	position:relative;
	padding:0 15px 0 0;
	margin:0 8px 5px 0;
	color:#777;
}

ol.ou-ancestors li:after {
	font-family: 'FontAwesome';
	color:#999;
	font-size: 10px;
	content: " \f054";
	position: absolute;
	right: 0;
	top: 0;
}

ol.ou-ancestors li:last-child:after {content: "";}

ol.ou-ancestors li a {text-decoration:none;}

ol.ou-ancestors li a:hover {
	text-decoration:underline;
	color:#000;
}


/* Breadcrumb with a tag line floated right (careers) */

.ou-breadcrumb-and-tag ol.ou-ancestors {
	width:48%;
	float:left;
}

.ou-breadcrumb-and-tag p {
	float:right;
	width:48%;
	text-align:right;
	font-size:.9em;
	color:#777;
}

.ou-breadcrumb-and-tag p i {
	color:#CF6041; 
	font-size:1.1em;
}


/*
-------------------------------------------
	Nav - Full/Context nav
-------------------------------------------
*/


.ou-full-nav,
.ou-context-nav {
	background: #fff;
	border: 1px solid #a6d0ff;
	margin-bottom: 2em;
	border-radius: 4px;
	border-width: 20px;
}

.ou-full-nav ul li a,
.ou-full-nav ul li strong,
.ou-context-nav ul li a,
.ou-context-nav ul li strong {
	display:block;
	padding:12px 12px 11px 12px;
	border-top:1px solid #a6d0ff;
	text-decoration:none;
	color:#039;
}

#ou-region2 .ou-full-nav ul li a,
#ou-region2 .ou-context-nav ul li a,
#ou-region2 .ou-context-nav h2 a {text-decoration:none;}

.ou-full-nav ul li strong,
.ou-context-nav ul li strong {
	background-color:#0b55a8;
	color:#fff;
	border-top:none;
	font-weight:normal;
}

.ou-full-nav ul li a:hover,
.ou-context-nav ul li a:hover  {
	background-color:#e7eff7;
	color:black;
}

.ou-full-nav ul ul ul li a,
.ou-full-nav ul ul ul li strong,
.ou-context-nav ul ul ul li a,
.ou-context-nav ul ul ul li strong {
	padding:9px 12px 8px 25px;
}

.ou-full-nav ul ul ul li a:hover,
.ou-context-nav ul ul ul li a:hover {
	background-color:;	
}

.ou-full-nav ul ul ul ul li a,
.ou-full-nav ul ul ul ul li strong,
.ou-context-nav ul ul ul ul li a,
.ou-context-nav ul ul ul ul li strong {
	padding-left:38px;
}

.ou-full-nav ul ul ul ul ul li a,
.ou-full-nav ul ul ul ul ul li strong,
.ou-context-nav ul ul ul ul ul li a,
.ou-context-nav ul ul ul ul ul li strong {
	padding-left:51px;
}

.ou-full-nav ul ul ul li,
.ou-full-nav ul ul li.ou-expanded,
.ou-context-nav ul ul ul li,
.ou-context-nav ul ul li.ou-expanded {
	background-color:#e7eff7;
}

.ou-full-nav ul ul li.ou-expanded a:after,
.ou-context-nav ul ul li.ou-expanded a:after {
	content:"\f078";
	font-family: 'FontAwesome';
	font-size:12px;
	margin-top:4px;
	float:right;
	color: #a6d0ff;
}

.ou-full-nav ul ul li.ou-expanded ul a:after,
.ou-context-nav ul ul li.ou-expanded ul a:after {
	content:"";
}

.ou-context-nav h2 {
	padding: 0 0 8px 0;
	margin: 0;
	background-color: #a6d0ff;
}


/*
-------------------------------------------
	Sections
-------------------------------------------
*/

body.ou-sections #ou-site {
	border-top:0;
}

body.ou-sections #ou-site-header {
	border-bottom:1px solid #ddd;
}

ul.ou-sections {
	max-width:1180px;
	margin:0 auto;
	text-align:left;
	padding:0;	
}

ul.ou-sections li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}

ul.ou-sections li a {
	display:block;
	float:left;
	text-decoration:none;
	padding:16px 15px 15px 15px;
	color:black;
	border-left:1px solid #ddd;
	font-weight:bold;
}

ul.ou-sections li:last-child a {
	border-right:1px solid #ddd;
}

ul.ou-sections li a:hover {
	text-decoration:underline;
	background-color:#f5f5f5;
}

ul.ou-sections li a.ou-selected {
	background-color:#0b55a8;
	border-left:0;
	color:#fff;
}

ul.ou-sections li a.ou-selected:hover {
	text-decoration:none;
}



/* table of contents */

dl.ou-toc {
	border-left:2px solid #880088;
	padding:8px 0 5px 25px;	
	margin:15px 0 25px 0;
}

dl.ou-toc dt {
	font-weight:bold;
	color:black;
	margin-bottom:10px;
}

dl.ou-toc dd {
	margin-bottom:0;
}

#ou-content dl.ou-toc ul,
#ou-content dl.ou-toc ul li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content dl.ou-toc ul li:before {
	content:"";
}

#ou-content dl.ou-toc ul li a {
	text-decoration:none;
}

#ou-content dl.ou-toc ul li a:before {
	font-family: 'FontAwesome';
	content: "\f078";
	font-size:.9em;
	color:#880088;
	padding-right:10px;
}



/*
-------------------------------------------
	Nav - Paged
-------------------------------------------
*/

#ou-content .ou-paged p {
	text-align:center;
}

#ou-content .ou-paged ul,
#ou-content .ou-paged ul li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;	
}

#ou-content .ou-paged ul {
	margin-top:15px;
	text-align:center;
}

#ou-content .ou-paged ul li:before {
	content:"";
}

#ou-content .ou-paged ul li {
	display:inline-block;
	margin:0 10px 0 0;
	zoom: 1;
    *display: inline;
	color:#777;
}

#ou-content .ou-paged ul li a,
#ou-content .ou-paged ul li strong {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px 10px 14px;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid #ffc23d;
	cursor: pointer;
	line-height:normal;
}

#ou-content .ou-paged ul li a:hover {
	background-color:#539d3c;
	color:#fff;
	border:1px solid #539d3c;
}

#ou-content .ou-paged ul li strong {
	color:#fff;
	background-color:#0b55a8;
	border:1px solid #0b55a8;
}



/*
-------------------------------------------
	Tabs
	Same design as responsive tabs
-------------------------------------------
*/


#ou-content ul.ou-tabs {
	font-size: 1em;
	margin: 0 0 20px 0;
	padding: 0;
	border-bottom: 0;
	line-height: 1em;
	float: left;
	width: 100%;
	clear: both;
	font-weight: bold;
	background: #eee;
}

#ou-content ul.ou-tabs li {
	float: left;
	display:inline-block;
	margin:0;
	padding:0;
}

#ou-content ul.ou-tabs li:before {content:"";}

#ou-content ul.ou-tabs li a {
	background: #eee;
	padding: 10px 20px;
	margin-right: 0;
	margin-bottom: 0;
	padding: 10px 15px;
	color: black;
	border-left: 1px solid #ddd;
	display:inline-block;
	text-decoration:none;
}

#ou-content ul.ou-tabs li a:hover {
	background: #a6d0ff;
	text-decoration:underline;
}

#ou-content ul.ou-tabs li a.ou-selected {
	background: #ffc23d;
	border-bottom-color: #ffc23d;
	border-left:0;
	color: #000;
}

#ou-content ul.ou-tabs li a.ou-selected:after {
	display: inline-block;
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffc23d;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
}

#ou-content ul.ou-tabs li a.ou-selected:hover {text-decoration:none;}


/*
-------------------------------------------
	Links
-------------------------------------------
*/


/* external link */

a.ou-external:after {
	font-family: 'FontAwesome';
	content: "\f08e";
	display: inline-block;
	padding-left:4px;
}

/* link icons */

a.ou-pdf,
a.ou-doc,
a.ou-xls,
a.ou-download,
a.ou-ppt,
a.ou-archive,
a.ou-audio,
a.ou-video,
a.ou-print,
a.ou-rss,
a.ou-warning,
a.ou-info,
a.ou-forum,
a.ou-help {
	background-image:url(icon-pdf.png);
	background-position:top left;
	background-repeat:no-repeat;
	padding-left:22px;	
}

a.ou-doc {background-image:url(icon-doc.png);}
a.ou-xls {background-image:url(icon-xls.png);}
a.ou-download {background-image:url(icon-download.png);}
a.ou-ppt {background-image:url(icon-ppt.png);}
a.ou-archive {background-image:url(icon-archive.png);}
a.ou-audio {background-image:url(icon-audio.png);}
a.ou-video {background-image:url(icon-video.png);}
a.ou-print {background-image:url(icon-print.png);}
a.ou-rss {background-image:url(icon-rss.png);}
a.ou-warning {background-image:url(icon-warning.png);}
a.ou-info {background-image:url(icon-info.png);}
a.ou-forum {background-image:url(icon-forum.png);}
a.ou-help {background-image:url(icon-help.png);}

a.ou-link:before {
	font-family: 'FontAwesome';
	font-weight:normal;
	content: "\f019";
	display: inline-block;
	padding-right:6px;
	color:#039;
}

a.ou-link:before {content:"\f061"; }

a.ou-link:hover:before {color:#000;}


/* Retina */

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

a.ou-pdf,
a.ou-doc,
a.ou-xls,
a.ou-download,
a.ou-ppt,
a.ou-archive,
a.ou-audio,
a.ou-video,
a.ou-print,
a.ou-rss,
a.ou-warning,
a.ou-info,
a.ou-forum,
a.ou-help {background-size:16px 16px;}

a.ou-pdf {background-image:url(icon-pdf@2x.png);}
a.ou-doc {background-image:url(icon-doc@2x.png);}
a.ou-xls {background-image:url(icon-xls@2x.png);}
a.ou-download {background-image:url(icon-download@2x.png);}
a.ou-ppt {background-image:url(icon-ppt@2x.png);}
a.ou-archive {background-image:url(icon-archive@2x.png);}
a.ou-audio {background-image:url(icon-audio@2x.png);}
a.ou-video {background-image:url(icon-video@2x.png);}
a.ou-print {background-image:url(icon-print@2x.png);}
a.ou-rss {background-image:url(icon-rss@2x.png);}
a.ou-warning {background-image:url(icon-warning@2x.png);}
a.ou-info {background-image:url(icon-info@2x.png);}
a.ou-forum {background-image:url(icon-forum@2x.png);}
a.ou-help {background-image:url(icon-help@2x.png);}


} /* end media query */



/* to top */

#ou-site-footer a.ou-to-top {
	display: inline-block;
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0;
	text-decoration:none;
	padding:10px 18px;
	color:#0b55a8;
	background-color:#a6d0ff;
	font-size:.9em;
	font-weight:bold;
}

#ou-site-footer a.ou-to-top:hover {
	background-color:#539d3c;
	color:#fff;
}

#ou-content a.ou-to-top {
	text-decoration:none;
	display:inline-block;
	padding:4px;
	background-color:transparent;
	border-radius:6px;
}

#ou-content a.ou-to-top:hover {
	background-color:#e7eff7;
}

#ou-content a.ou-to-top:before {
	font-family: 'FontAwesome';
	content: "\f077";
	font-size:.9em;
	color:#880088;
	padding-right:10px;
}

/* standalone link */

a.ou-standalone-link {font-size:90%; text-decoration:none;}


/* dashboard add */

a.add-block {
	display:block;
	padding:30px 20px;
	text-align:center;
	text-decoration:none;
	border-radius:10px;
	border:3px dashed #ddd;
}

a.add-block:hover {border-color:#539d3c;}


/**/



/*
-------------------------------------------
	Topics
-------------------------------------------
*/

.ou-topics {margin-bottom:20px;}

.ou-topics h2 {
	font-size:1.5em;
	margin:0 0 5px 0;
}

.ou-topics img {margin-bottom:5px;}

.ou-topics a {text-decoration:none;}

.ou-topics a h2 {color:#039;}

.ou-topics a:hover h2 {color:#000;}

.ou-topics p {color:#666; margin:0;}

#ou-content .ou-topics ul {margin:10px 0 0 0;}

#ou-content .ou-topics ul li {
	margin-bottom:3px; 
	padding-left:0;
}

#ou-content .ou-topics ul li:before {content:none;}

.ou-topics a.ou-topics-more {font-weight:bold;}



/*
-------------------------------------------
	A to EZ
-------------------------------------------
*/


#ou-content ol.ou-atoz-filter {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	display: block;
}

#ou-content ol.ou-atoz-filter li {
	list-style: none;
	display: inline;
	padding: 0;
}

#ou-content ol.ou-atoz-filter li:before {content:"";}

#ou-content ol.ou-atoz-filter li a {
	text-decoration: none;
	color: #039;
	padding:3px 6px;
}

#ou-content ol.ou-atoz-filter li.selected a  {
	text-decoration: none;
	color: #fff;
	background:#0b55a8;
}

#ou-content ol.ou-atoz-filter li.filter-all.selected a {
	text-decoration: none;
	color: #fff;
	font-size: 100%;
}

#ou-content ol.ou-atoz-filter li a:hover {
	text-decoration: none;
	background:#a6d0ff;
	color:black;
}

#ou-content ol.ou-atoz-filter li.selected a:hover,
#ou-content ol.ou-atoz-filter li.filter-all.selected a:hover {
	background:#0b55a8; 
	color:#fff;
}

.ou-atoz-results {margin-top: 30px;}

#ou-content .ou-atoz-results ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#ou-content .ou-atoz-results ul li {
	padding:20px;
	background-color:#fff;
}

#ou-content .ou-atoz-results ul li:nth-child(odd) {background-color: #e7eff7;}

#ou-content .ou-atoz-results ul li:before {content:"";}

#ou-content .ou-atoz-results ul li a {text-decoration: none;}

.ou-atoz-results h3 {
	margin: 0 0 6px 0;
	font-size: 1.2em;
}

.ou-atoz-results p {
	margin-bottom: 0;
	color:#555;
}

.ou-atoz-results p.ou-atoz-items {
	color:#777;
	float: right;
}

.ou-atoz-results p.ou-atoz-items em {font-style:normal;}



@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {


ul.ou-sections {border-bottom:0;}

/*
ul.ou-sections li a {
	padding: 8px 10px;
	border: 0;
}
*/

ul.ou-sections li a {
	padding: 12px 6px;
	border: 0;
	font-size:.85em;
	font-weight:normal;
}


.ou-breadcrumb-and-tag ol.ou-ancestors,
.ou-breadcrumb-and-tag p {
	width:100%;
	float:none;
	text-align:left;
}

ol.ou-ancestors {margin-bottom:15px;}

ol.ou-ancestors li {font-size:.9em;}



} /* end media query */

