@charset "UTF-8";


/*
--------------------------------------------------------------------------------------

	OU STUDENT THEME FRAMEWORK

--------------------------------------------------------------------------------------
*/


@import url('normalize.css');
@import url('html.css');
@import url('tables.css');
@import url('forms.css');
@import url('boxes.css');


/*
-------------------------------------------
	Colour Palette
-------------------------------------------

	Mid Blue			#0b55a8
	Light Blue			#a6d0ff
	Gold				#ffc23d
	Dark Blue			#002158
	Dark Grey			#312b39
	White				#ffffff
	Purple				#880088
	Dark Purple			#470d43
	Mid Grey Blue		#929fb0
	Light Grey Blue		#e7eff7
	Green				#539d3c
	Red					#b52a1e

*/





/*
-------------------------------------------
	Clears
-------------------------------------------
*/


.ou-grid,
#ou-header,
#ou-site,
#ou-site-body,
#ou-site-header,
.ou-footer,
.ou-footer .ou-footer-top,
.ou-footer .ou-footer-links,
.ou-footer .ou-footer-small-print,
ol.ou-ancestors,
.ou-paged,
.ou-mobile-menu,
.responsive-tabs-wrapper,
#ou-content ul.ou-news li
{
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.ou-grid:before, .ou-grid:after,
#ou-header:before, div#ou-header:after,
#ou-site:before, div#ou-site:after,
#ou-site-body:before, div#ou-site-body:after,
#ou-site-header:before, #ou-site-header:after,
.ou-footer:before, div.ou-footer:after,
.ou-footer .ou-footer-top:before, .ou-footer .ou-footer-top:after,
.ou-footer .ou-footer-links:before, .ou-footer .ou-footer-links:after,
.ou-footer .ou-footer-small-print:before, .ou-footer .ou-footer-small-print:after,
ol.ou-ancestors:before, ol.ou-ancestors:after,
.ou-paged:before, .ou-paged:after,
.ou-mobile-menu:before, .ou-mobile-menu:after,
.responsive-tabs-wrapper:before, .responsive-tabs-wrapper:after,
#ou-content ul.ou-news li:before, #ou-content ul.ou-news li:after
{
	content: "";
	display: table;
}

.ou-grid:after,
#ou-header:after,
#ou-site:after,
#ou-site-body:after,
#ou-site-header:after,
.ou-footer:after,
.ou-footer .ou-footer-top:after,
.ou-footer .ou-footer-links:after,
.ou-footer .ou-footer-small-print:after,
ol.ou-ancestors:after,
.ou-paged:after,
.ou-mobile-menu:after,
.responsive-tabs-wrapper:after,
#ou-content ul.ou-news li:after
{
	clear:both;
}






/*
-------------------------------------------
	Links
-------------------------------------------
*/


#ou-content a,
#ou-region2 a {
	color:#039;
	text-decoration:underline;
}


#ou-content a:hover,
#ou-region2 a:hover {
	color:#000;
	text-decoration:none;
}

#ou-content a.ou-external:after,
#ou-region2 a.ou-external:after {
	font-family: 'FontAwesome';
	content: "\f08e";
	display: inline-block;
	padding-left:4px;
}

/* Link icons */

#ou-content a.ou-pdf:before,
#ou-content a.ou-doc:before,
#ou-content a.ou-xls:before,
#ou-content a.ou-download:before,
#ou-content a.ou-ppt:before,
#ou-content a.ou-archive:before,
#ou-content a.ou-audio:before,
#ou-content a.ou-video:before,
#ou-content a.ou-link:before,
#ou-content a.ou-info:before,
#ou-content a.ou-forum:before,
#ou-content a.ou-print:before,
#ou-content a.ou-warning:before,
#ou-content a.ou-help:before,
#ou-content a.ou-rss:before {
	font-family: 'FontAwesome';
	font-weight:normal;
	content: "\f019";
	display: inline-block;
	padding-right:6px;
	color:black;
}

#ou-content a.ou-pdf:before {content:"\f1c1"; color:black;}
#ou-content a.ou-doc:before {content:"\f1c2"; color:black;}
#ou-content a.ou-xls:before {content:"\f1c3"; color:black;}
#ou-content a.ou-download:before {content:"\f019"; color:black;}
#ou-content a.ou-ppt:before {content:"\f1c4"; color:black;}
#ou-content a.ou-archive:before {content:"\f1c6"; color:black;}
#ou-content a.ou-audio:before {content:"\f1c7"; color:black;}
#ou-content a.ou-video:before {content:"\f1c8"; color:black;}
#ou-content a.ou-link:before {content:"\f061"; color:black;}
#ou-content a.ou-info:before {content:"\f05a"; color:black;}
#ou-content a.ou-forum:before {content:"\f1d7"; color:black;}
#ou-content a.ou-print:before {content:"\f02f"; color:black;}
#ou-content a.ou-warning:before {content:"\f071"; color:black;}
#ou-content a.ou-help:before {content:"\f059"; color:black;}
#ou-content a.ou-rss:before {content:"\f143"; color:black;}

/* to top */

#ou-site-footer a.ou-to-top {
	display: inline-block;
	position: fixed;
	right: 0;
	bottom: 0;
	opacity: 0;
	text-decoration:none;
	padding:10px 18px;
	color:#0b55a8;
	background-color:#a6d0ff;
	font-size:.9em;
	font-weight:bold;
}

#ou-site-footer a.ou-to-top:hover {
	background-color:#539d3c;
	color:#fff;
}

#ou-content a.ou-to-top {
	text-decoration:none;
	display:inline-block;
	padding:4px;
	background-color:transparent;
	border-radius:6px;
}

#ou-content a.ou-to-top:hover {
	background-color:#e7eff7;
}

#ou-content a.ou-to-top:before {
	font-family: 'FontAwesome';
	content: "\f077";
	font-size:.9em;
	color:#880088;
	padding-right:10px;
}


/* Site map */

#ou-content ul li a {text-decoration:none;}



/*
-------------------------------------------
	General
-------------------------------------------
*/



#ou-org {
	width:100%;
}

#ou-header,
#ou-site-body {
	max-width:1180px;
	margin:0 auto;
}

#ou-site-header {
	text-align:center;
}

#ou-site-body {
	margin-top: 25px;
}

div#ou-region1 {
	float: left;
	width: 68%;
}

div#ou-region2 {
	float: right;
	width: 30%;
}

.ou-section {
	border-bottom: 1px solid #eee;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
}



/*
-------------------------------------------
	Site ident
-------------------------------------------
*/

#ou-site-ident {
	text-align:left;
	background: #e7eff7;
}

#ou-site-ident p#ou-site-title {
	margin:0 auto;
	padding:0;
	max-width:1180px;
}

#ou-site-ident p#ou-site-title a {
	padding:8px 0 0 0;
	display:inline-block;
	color:#000;
	text-decoration:none;
	font-size:1.2em;

}

#ou-site-ident p#ou-site-title a:hover {
	text-decoration:underline;
}

#ou-site-ident p#ou-site-description {
	margin:0 auto;
	max-width:1180px;
	padding:0 0 8px 0;
	color:#666;
}


/*
-------------------------------------------
	Carousel
-------------------------------------------
*/


div.ou-carousel {
	max-width:1180px;
	margin:0 auto;
	text-align:left;
}


/*
-------------------------------------------
	Creative
-------------------------------------------
*/

div.ou-creative {
	background: #e7eff7;
}



/*
-------------------------------------------
	Layouts
-------------------------------------------
*/



body.ou-pure div#ou-region1 {
	margin:0 0 20px 0;
	width:100%;
}

body.ou-pure div#ou-region2 {
	width:100%;
	margin:0;
}

div.ou-c1of2, 
div.ou-c1of3, 
div.ou-c2of3 {
	float: left;
}

div.ou-c1of2,
div.ou-c2of2 {
	width: 48%;
}

div.ou-c2of2, 
div.ou-c3of3 {
	float: right;
}

div.ou-c1of3, 
div.ou-c2of3, 
div.ou-c3of3 {
	width: 30%;
	margin: 0;
	padding:0;
}

div.ou-c2of3 {
	margin-left: 5%;
}


/*
-------------------------------------------
	Images
-------------------------------------------
*/



#ou-site-header .ou-creative img {
	margin:0 auto;
	display:block;
}

img.ou-border {
	border: 1px solid #a6d0ff;
	padding: 8px;
	margin-bottom: 15px;
}

img.ou-go1 {
	float: left;
	margin: 0 25px 15px 0;
}

img.ou-go2 {
	float: right;
	margin: 0 0 15px 25px;
}

img.ou-go3 {
	display: block;
	margin: 0 auto 15px auto;
}

div.ou-img {
	padding: 15px;
	margin:0 0 25px 0;
	background-color: #e7eff7;
	text-align:center;
}

div.ou-img img {
	margin:0 auto;
}

div.ou-img p.ou-caption {
	margin:5px 0 0 0;
	color:#470d43;
}

div.ou-go1 {
	width:40%;
	float:left;
	margin:0 25px 15px 0;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go2 {
	width:40%;
	float:right;
	margin:0 0 15px 25px;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go3 {
	width:80%;
	margin:0 auto 15px auto;
	padding:15px;
	background-color: #e7eff7;
}

div.ou-go1 h2,
div.ou-go2 h2,
div.ou-go3 h2 {margin-top:0;}


/*
-------------------------------------------
	Paragraphs
-------------------------------------------
*/




p.ou-introduction {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #0b55a8;
	font-size: 1.2em;
}



/*
-------------------------------------------
	Blockquotes
-------------------------------------------
*/

#ou-content blockquote cite a {text-decoration:none;}


.ou-quote blockquote {
	margin: 16px 40px 0 40px;
	padding: 30px 0 10px 0;
}

.ou-quote p.ou-source {
	margin-left:40px;
	font-style: normal;
	font-size:.875em;
}

blockquote.ou-pullquote1,
blockquote.ou-pullquote2 {
	width: 40%;
	float: left;
	margin-left:0;
	padding-right:0;
}

blockquote.ou-pullquote2 {
	float:right;
	margin-right:0;
	margin-left:40px;
}

blockquote.ou-pullquote1 p,
blockquote.ou-pullquote2 p {
	font-size:1.25em;
	color:#0b55a8;
}




/*
-------------------------------------------
	Lists
-------------------------------------------
*/

/* unordered */

#ou-content ul {
	margin:0 0 15px 25px;
	list-style-type: none;
	padding: 0;
}

#ou-content ul ul {
	margin:0 0 0 25px;
}


#ou-content ul li {
	margin-bottom: 5px;
	position: relative;
	padding-left: 20px;
	line-height:1.6em;
}

#ou-content ul li:before {
	content: "\2022";
	color: #0b55a8;
	font-size: 1.8em;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 90%;
}

/* ordered */

#ou-content ol {
	margin:0 0 15px 25px;
	counter-reset: item;
	list-style-type:none;
}

#ou-content ol ol {
	margin:0 0 0 25px;
}

#ou-content ol li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 5px;
	line-height:1.6em;
}

#ou-content ol li:before {
	content: counter(item) ". ";
	counter-increment: item;
	color: #0b55a8;
	display: inline-block;
	text-align: right;
	position: absolute;
	top: 0;
	left: 0;
}



/* table of contents */

dl.ou-toc {
	border-left:2px solid #880088;
	padding:8px 0 5px 25px;	
	margin:0 0 25px 0;
}

dl.ou-toc dt {
	font-weight:bold;
	color:black;
	margin-bottom:10px;
}

dl.ou-toc dd {
	margin-bottom:0;
}

#ou-content dl.ou-toc ul,
#ou-content dl.ou-toc ul li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content dl.ou-toc ul li {
	margin: 0 0 5px 0;
}

#ou-content dl.ou-toc ul li:before {
	content:"";
}

#ou-content dl.ou-toc ul li a {
	text-decoration:none;
}

#ou-content dl.ou-toc ul li a:before {
	font-family: 'FontAwesome';
	content: "\f078";
	font-size:.9em;
	color:#880088;
	padding-right:10px;
}

/* zebra */

#ou-content ul.ou-zebra,
#ou-content ul.ou-zebra li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content ul.ou-zebra {margin-bottom:15px;}

#ou-content ul.ou-zebra li:before {
	content:"";
}

#ou-content ul.ou-zebra li {
	padding:8px 12px;
}


#ou-content ul.ou-zebra li:nth-child(odd) {
	background-color:#e7eff7;
	color:black;
}

#ou-content ul.ou-zebra li.ou-odd {
	background-color:#e7eff7;
	color:black;
}


/* dialogue */

.ou-dialogue {
	padding:0;
	margin-bottom:15px;
}

.ou-dialogue dt {
	position:relative;
	padding-left:35px;
	color:#000;
}

.ou-dialogue dd {
	padding-left:35px;
}

.ou-dialogue dt:before {
	font-family: 'FontAwesome';
	font-size:25px;
	content: "\f10d";
	color:#539d3c;
	display: block;
	position: absolute;
}

.ou-dialogue dt:before {
	left:0;
	top: 0;
}

/* glossary */

.ou-glossary {margin-bottom:15px;}


/* dialogue */

.ou-comment {
	padding:0;
	margin-bottom:15px;
}

.ou-comment dt {
	position:relative;
	padding-left:35px;
	color:#000;
}

.ou-comment dd {
	padding-left:35px;
}

.ou-comment dt:before {
	font-family: 'FontAwesome';
	font-size:25px;
	content: "\f10d";
	color:#539d3c;
	display: block;
	position: absolute;
}

.ou-comment dt:before {
	left:0;
	top: 0;
}

/* Icon links */

#ou-content ul.ou-links li {
	padding-left:0;
}

#ou-content ul.ou-links li:before {
	content:"";
}

#ou-content ul.ou-links li a {
	text-decoration:none;
}


/*
-------------------------------------------
	Nav - Sections
-------------------------------------------
*/

body.ou-sections #ou-site {
	border-top:0;
}

body.ou-sections #ou-site-header {
	border-bottom:1px solid #7fb3d9;
}

ul.ou-sections {
	max-width:1180px;
	margin:0 auto;
	text-align:left;
	padding:0;	
}

ul.ou-sections li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}

ul.ou-sections li a {
	display:block;
	float:left;
	text-decoration:none;
	padding:10px 15px;
	color:black;
	border-left:1px solid #7fb3d9;
}

ul.ou-sections li a:hover {
	text-decoration:underline;
}

ul.ou-sections li a.ou-selected {
	background-color:#a6d0ff;
}



/*
-------------------------------------------
	Nav - Breadcrumb
-------------------------------------------
*/


ol.ou-ancestors,
ol.ou-ancestors li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;	
}

ol.ou-ancestors {
	margin-bottom:15px;
}

ol.ou-ancestors li {
	float:left;
	position:relative;
	padding:0 15px 0 0;
	margin:0 8px 0 0;
	color:#777;
}

ol.ou-ancestors li:after {
	font-family: 'FontAwesome';
	font-size: 10px;
	content: " \f054";
	position: absolute;
	right: 0;
	top: 0;
}

ol.ou-ancestors li:last-child:after {
	content: "";
}

ol.ou-ancestors li a {
	text-decoration:none;
}

ol.ou-ancestors li a:hover {
	text-decoration:underline;
	color:#000;
}




/*
-------------------------------------------
	Nav - Full/Context nav
-------------------------------------------
*/


.ou-full-nav,
.ou-context-nav {
	background: #fff;
	border: 1px solid #a6d0ff;
	margin-bottom: 2em;
	border-radius: 4px;
	border-width: 20px;
}

.ou-full-nav ul li a,
.ou-full-nav ul li strong,
.ou-context-nav ul li a,
.ou-context-nav ul li strong {
	display:block;
	padding:10px 12px;
	border-top:1px solid #a6d0ff;
	text-decoration:none;
	color:#0b55a8;
}

#ou-region2 .ou-full-nav ul li a,
#ou-region2 .ou-context-nav ul li a,
#ou-region2 .ou-context-nav h2 a {text-decoration:none;}

.ou-full-nav ul li strong,
.ou-context-nav ul li strong {
	background-color:#0b55a8;
	color:#fff;
	border-top:none;
	font-weight:normal;
}

.ou-full-nav ul li a:hover,
.ou-context-nav ul li a:hover  {
	background-color:#e7eff7;
	color:black;
}

.ou-full-nav ul ul ul li a,
.ou-full-nav ul ul ul li strong,
.ou-context-nav ul ul ul li a,
.ou-context-nav ul ul ul li strong {
	padding:7px 12px 7px 25px;
}

.ou-full-nav ul ul ul li a:hover,
.ou-context-nav ul ul ul li a:hover {
	background-color:;	
}

.ou-full-nav ul ul ul ul li a,
.ou-full-nav ul ul ul ul li strong,
.ou-context-nav ul ul ul ul li a,
.ou-context-nav ul ul ul ul li strong {
	padding-left:38px;
}

.ou-full-nav ul ul ul ul ul li a,
.ou-full-nav ul ul ul ul ul li strong,
.ou-context-nav ul ul ul ul ul li a,
.ou-context-nav ul ul ul ul ul li strong {
	padding-left:51px;
}

.ou-full-nav ul ul ul li,
.ou-full-nav ul ul li.ou-expanded,
.ou-context-nav ul ul ul li,
.ou-context-nav ul ul li.ou-expanded {
	background-color:#e7eff7;
}

.ou-full-nav ul ul li.ou-expanded a:after,
.ou-context-nav ul ul li.ou-expanded a:after {
	content:"\f078";
	font-family: 'FontAwesome';
	font-size:12px;
	margin-top:4px;
	float:right;
	color: #a6d0ff;
}

.ou-full-nav ul ul li.ou-expanded ul a:after,
.ou-context-nav ul ul li.ou-expanded ul a:after {
	content:"";
}

.ou-context-nav h2 {
	padding: 0 0 8px 0;
	margin: 0;
	background-color: #a6d0ff;
}

/*
-------------------------------------------
	Nav - Paged
-------------------------------------------
*/

#ou-content .ou-paged p {
	text-align:center;
}

#ou-content .ou-paged ul,
#ou-content .ou-paged ul li {
	list-style:none;
	list-style-type:none;
	margin:0;
	padding:0;	
}

#ou-content .ou-paged ul {
	margin-top:15px;
	text-align:center;
}

#ou-content .ou-paged ul li:before {
	content:"";
}

#ou-content .ou-paged ul li {
	display:inline-block;
	margin:0 10px 0 0;
	zoom: 1;
    *display: inline;
}

#ou-content .ou-paged ul li a,
#ou-content .ou-paged ul li strong {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffc23d;
	color: #0b55a8;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px 10px 14px;
	display: inline-block;
	margin-bottom: 15px;
	border: 1px solid #ffc23d;
	cursor: pointer;
	line-height:normal;
}

#ou-content .ou-paged ul li a:hover {
	background-color:#539d3c;
	color:#fff;
	border:1px solid #539d3c;
}

#ou-content .ou-paged ul li strong {
	color:#fff;
	background-color:#0b55a8;
	border:1px solid #0b55a8;
}

/*
-------------------------------------------
	Style Guide
-------------------------------------------
*/



#ou-content span.code-toggle a {
	float:right;
	display:inline-block;
	background-color:#fff;
	color:#000;
	border-radius:4px;
	padding:2px 6px;
	margin-top:3px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	line-height:normal;
}

#ou-content span.code-toggle a i {
	font-weight:bold;
}

#ou-content span.code-toggle a:hover {
	background-color:#222;
	color:#ffc23d;
}

#ou-content ul.colours,
#ou-content ul.colours li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content ul.colours li:before {
	content:"";
}

#ou-content ul.colours li {
	display:inline-block;
	width:115px;
	margin-right:10px;
	margin-bottom:10px;
	zoom: 1;
    *display: inline;
}

span.colours-title {
	font-weight:bold;
	display:block;
}

span.colours-hex {
	display:block;
	color:#555;
	font-size:13px;
}

span.colours-swatch {
	width:115px; 
	height:115px;
	display:block;
	margin-top:5px;
}









/*
-------------------------------------------
	Media
-------------------------------------------
*/

#ou-content a.ou-toggle {
	text-decoration:none;
}

#ou-content a.ou-toggle:before {
	font-family: 'FontAwesome';
	content: "\f036";
	display: inline-block;
	padding-right:6px;
}

#ou-content a.ou-toggle:hover,
#ou-content a.ou-toggle:hover:before {
	color:#000;
}

p.ou-toggle {
	margin:5px 0 0 0;
}

div.ou-video blockquote p,
div.ou-audio blockquote p {
	text-align:left;
	font-size:1em;
	color:#494949;
}

div.ou-video,
div.ou-audio {
	padding: 15px;
	margin:0 0 15px 0;
	background-color: #e7eff7;
	border-top:3px solid #0b55a8;
	text-align:center;
}

div.ou-audio blockquote .ou-dialogue dt,
div.ou-audio blockquote .ou-dialogue dd {
	padding-left:0;
	text-align:left;
	color:#fff;
}

div.ou-audio blockquote .ou-dialogue dt {
	color:#000;
}

div.ou-audio blockquote .ou-dialogue dt:before {
	content:"";
}




/*
-------------------------------------------
	Mobile
-------------------------------------------
*/

div.ou-mobile-menu {
	display:none;
}


/*
-------------------------------------------
	Media queries
-------------------------------------------
*/


@media only screen and (max-width: 1180px), screen and (max-device-width: 1180px) {

#ou-header, #ou-site-body {
	max-width: none;
	padding: 0 15px;
}

#ou-site-ident p#ou-site-title,
#ou-site-ident p#ou-site-description {
	padding-left:15px;
}


} /* end media query */



@media only screen and (max-width: 767px), screen and (max-device-width: 767px) {

div#ou-region1,
div#ou-region2 {
	float: left;
	width: 100%;
	margin:0 0 25px 0;
	padding:0;
}



} /* end media query */



@media only screen and (max-width: 400px), screen and (max-device-width: 400px) {

img.ou-go1,
img.ou-go2,
#ou-content ul.ou-news img {
	max-width:180px;
}

#ou-site-body {
	margin-top: 20px;
}

ul.ou-sections {
	border-bottom:0;
}

ul.ou-sections li a {
	padding: 8px 10px;
	border: 0;
}

div.ou-c1of2, 
div.ou-c2of2,
div.ou-c1of3, 
div.ou-c2of3, 
div.ou-c3of3 {
	width: 100%;
	float:none;
	margin:0;
}

/* blockquotes */

blockquote p,
blockquote.ou-pullquote1 p, 
blockquote.ou-pullquote2 p {
	font-size:1em;
}


} /* end media query */


/*
-------------------------------------------
	Retina
-------------------------------------------
*/


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 



} /* end media query */






