@charset "UTF-8";


/*
-------------------------------------------
	Style Guide / Demo Site only
-------------------------------------------
*/



#ou-content span.code-toggle a {
	float:right;
	display:inline-block;
	background-color:#fff;
	color:#000;
	border-radius:4px;
	padding:2px 6px;
	margin-top:3px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	line-height:normal;
}

#ou-content span.code-toggle a i {
	font-weight:bold;
}

#ou-content span.code-toggle a:hover {
	background-color:#222;
	color:#ffc23d;
}

#ou-content ul.colours,
#ou-content ul.colours li {
	margin:0;
	padding:0;
	list-style:none;
}

#ou-content ul.colours li:before {
	content:"";
}

#ou-content ul.colours li {
	display:inline-block;
	width:115px;
	margin-right:10px;
	margin-bottom:10px;
	zoom: 1;
    *display: inline;
}

span.colours-title {
	font-weight:bold;
	display:block;
}

span.colours-hex {
	display:block;
	color:#555;
	font-size:13px;
}

span.colours-swatch {
	width:115px; 
	height:115px;
	display:block;
	margin-top:5px;
}

.styleguide .ou-cols,
.styleguide .ou-row div {background:#ddd; text-align:center; padding:4px 0;}

.styleguide .ou-grid {margin:0 0 25px 0;}

.styleguide h2 {margin:0 0 25px 0;}

.styleguide .box h2 {margin:0 0 10px 0;}

.block {background-color: #eee;}

.block p {text-align:center; margin-bottom:0;}

