
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<title>{{ page.title }} | OU Student Theme Framework</title>

<link rel="stylesheet" type="text/css" href="gui/styles.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="gui/drupal.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="gui/header-footer.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="gui/responsive-tabs.css" />

<link rel="stylesheet" type="text/css" href="gui/fonts/font-awesome/font-awesome.min.css" media="screen, projection" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- favicons -->
<link rel="apple-touch-icon" href="gui/apple-touch-icon.png">
<link rel="icon" href="gui/favicon.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="gui/ie10-win8-tile-icon.png">


<meta name="keywords" content="" />
<meta name="description" content="" />

</head>

<body class="ou-home {{ page.classes }}">

<div id="ou-org">

<a class="ou-skip" href="#ou-content"><i class="fa fa-arrow-circle-down"></i> Skip to content</a>

<div id="ou-header">
    {% include header.html %}
</div> <!-- end ou-header -->

<div id="ou-site">

    {{ content }}

</div> <!-- end ou-site -->

<div class="ou-footer" role="contentinfo">
    {% include footer.html %}
</div> <!-- end ou-footer -->



</div> <!-- end ou-org -->



<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/responsive-tabs.min.js"></script>

<script>
$(document).ready(function() {
    RESPONSIVEUI.responsiveTabs();
})
</script>

<!-- Styleguide/demo site js -->
<script src="js/styleguide-only.js"></script>

</body>
</html>